@import "https://fonts.googleapis.com/css?family=Roboto:500";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "components/background";
@import "components/default-padding";
@import "components/empty-content";
@import "components/inline-emoji";
@import "components/forms";
@import "components/notifications";
@import "components/popup";

:root {
    --primary-color: #ff4655;
    --secondary-color: #eb5362;
    --background-color: linear-gradient(90deg, #0f1923, #0f1923);
    --font-family: "Poppins";
}

main {
    padding-left: 3%;
    padding-right: 30%;
    margin-top: 20em;

    .dashboard_section {
        margin-top: 10%;
    }

    .main__image {
        width: 25%;
        height: 25%;
        border-radius: 50%;
        margin-top: -30%;
        margin-left: 10%;
        margin-bottom: 5%;
    }

    .title {
        color: #fff;
        font-size: 40px;
        font-family: var(--font-family);
        margin-left: 50%;
        text-align: center;
        margin-top: -30%;
        margin-right: -1%;
        margin-bottom: -1%;
    }

    /* Buttons */


    .main__buttons {
        margin-top: -20%;
        margin-left: 39%;

        .action__btn {
            &.danger {
                background: #ed4245;

                &:hover {
                    background: #d53b3e;
                }
            }

            &.primary {
                background: #5865f2;

                &:disabled {
                    background: #4752c4;
                    opacity: .5;
                    cursor: not-allowed;
                }

                &:hover {
                    background: #4752c4;
                }
            }

            &.success {
                background: #3ba55c;

                &:hover {
                    background: #359553;
                }

                &:disabled {
                    opacity: .5;
                    background-color: #359553;
                    cursor: not-allowed;
                }
            }

            .btn {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                font-family: Roboto, sans-serif;
                line-height: 20px;
                font-size: 17px;
                color: #fff;
                min-width: 36px;
                margin-left: 1.5%;
                padding: .5rem 1rem;
                box-sizing: border-box;
                border-radius: 4px;
                cursor: pointer;
                text-decoration: none;
                background: #7289da;
                transition: background-color .15s ease, color .15s ease;
            }
        }
    }

    /* Texts */

    h3 {
        color: #fff;
        font-size: 18px;
        font-family: sans-serif;
        margin-left: 5px;
    }

}

.item-name {
    color: #fff;
    font-size: 40px;
    font-family: var(--font-family);
    margin-left: 50%;
    text-align: center;
    margin-top: -30%;
    margin-right: -1%;
    margin-bottom: -5%;
}

.itens {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30%;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-right: -25%;


    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 5px;
        margin-left: 5%;
        border-radius: 10px;
        background-color: #4f545c;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


        .item__icon {
            img {
                width: 100%;
                border-radius: 10px;
                min-width: 100%;
                max-width: 100%;
            }
        }

        .item_info {
            text-align: center;
            margin-top: 10px;
            position: relative;

            h1 {
                margin: 0;
                margin-top: -25%;
                font-size: 16px;
                font-weight: bold;
                flex-direction: column;
            }

            .item-name {
                color: #fff;
                font-size: 16px;
                font-family: var(--font-family);
                text-align: center;
                margin-top: -5%;
            }

            h1 {
                margin: 0;
                font-size: 20px;
                font-weight: bold;
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
                position: relative;
                display: inline-block;
            }

            .purchased {
                display: block;
                margin-top: 5px;
                color: rgb(103, 255, 103);
                font-size: 16px;
                font-weight: bold;
            }

            .cakes {
                display: block;
                margin-top: 5px;
                color: #5dabff;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

#save {
    color: #fff;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #359553;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 36%;

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}

.server,
.item {
    margin: 20px;
    padding: 10px 20px;
    color: #fff;
    font-family: var(--font-family);
    font-size: 14px;
    text-decoration: none;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;

    transition: transform 0.5s;

    &:not(:hover) {
        transform: scale(1);
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    &.disabled {
        cursor: not-allowed;
    }
}

.server__buttons {
    margin-top: 10px;
}

.guild-name {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: var(--font-family);

    margin-top: -30%;
    margin-left: 55%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

.server__button {
    display: block;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.server__button:hover {
    background-color: var(--primary-color);
    transition: 0.5s;
}

.server__button.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.selected {
    border: 2px solid #4caf50;
}

#cancel {
    color: #fff;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ff5050;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 36%;
}

textarea {
    display: block;
    width: 60%;
    height: 170px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#text:focus {
    border: 2px solid #7289da;
}

#text:disabled {
    opacity: .5;
}

#text::placeholder {
    color: #7289da;
}


#user-avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.popup-content {
    button {
        background-color: #7289da;
        border: none;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }
}

@media (max-width: 768px) {

    #save {
        color: #fff;
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #359553;
        border: none;
        outline: none;
        font-family: var(--font-family);
        font-size: 14px;
        margin-bottom: 10px;
        box-sizing: border-box;
        cursor: pointer;
        margin-left: 10%;
    }

    .popup-content {
        width: 90%;
        padding: 15px;
        margin: 20% auto;
    }

    .popup-content h2 {
        font-size: 20px;
    }

    .popup-content h3 {
        font-size: 14px;
    }

    .popup-content button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

.hidden {
    display: none !important;
}

.popup.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@media (max-width: 480px) {
    .popup-content {
        width: 95%;
        padding: 10px;
        margin: 25% auto;
    }

    .popup-content h2 {
        font-size: 18px;
    }

    .popup-content h3 {
        font-size: 12px;
    }

    .popup-content button {
        padding: 6px 12px;
        font-size: 12px;
    }
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.5);
        opacity: 0;
    }
}


#selected {
    background-color: #2f3136;
}

@media (max-width: 768px) {

    #addBanner {
        display: none !important;
    }

    .adsbygoogle {
        display: none !important;
    }

    html {
        background-size: contain;
    }

    .sidebar-toggle {
        display: block;
    }

    .store-item,
    .servers,
    .itens {
        margin: -90% auto;
        flex-direction: column;
        margin-left: 10%;
        margin-right: -30%;
    }

    .item-name,
    .title,
    .section-header,
    .guild-name {
        font-size: 24px;
        margin-left: 0;
        margin-right: 0;
    }

    .item-img,
    .main__image,
    .current-key__no-key__image,
    .user-avaliable-keys__no-key__image {
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .module,
    .server-feature,
    .item,
    .server {
        min-width: 100%;
        max-width: 100%;
        margin: 5% auto;
        padding: 10px;
    }

    .sidebar-logo {
        width: 100px;
        height: auto;
        margin: 5% auto;
    }

    .server__button,
    .key-manager__add__submit {
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }

    .item_info h1 {
        font-size: 18px;
    }

    .item_info .purchased,
    .item_info .cakes {
        font-size: 14px;
    }
}

@media (min-width: 1920px) {
    .itens {
        margin-top: -23%;
    }
}

#adBanner {
    position: fixed;
    right: 0;
    margin-left: 1%;
    top: 100px;
    z-index: 10;
}