@import "https://fonts.googleapis.com/css?family=Roboto:500";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "components/background";
@import "components/default-padding";
@import "components/empty-content";
@import "components/inline-emoji";
@import "components/forms";
@import "components/notifications";
@import "components/popup";
@import "components/buttons";

:root {
    --primary-color: #ff4655;
    --secondary-color: #eb5362;
    --background-color: linear-gradient(90deg, #0f1923, #0f1923);
    --font-family: "Poppins";
}

main {
    padding-left: 3%;
    padding-right: 30%;
    margin-top: 20em;

    .dashboard_section {
        margin-top: 10%;
    }

    .main__image {
        width: 25%;
        height: 25%;
        border-radius: 50%;
        margin-top: -30%;
        margin-left: 10%;
        margin-bottom: 5%;
    }

    .title {
        color: #fff;
        font-size: 40px;
        font-family: var(--font-family);
        margin-left: 50%;
        text-align: center;
        margin-top: -30%;
        margin-right: -1%;
        margin-bottom: -1%;
    }

    /* Texts */

    h3 {
        color: #fff;
        font-size: 18px;
        font-family: sans-serif;
        margin-left: 5px;
    }

}

.item-name {
    color: #fff;
    font-size: 40px;
    font-family: var(--font-family);
    margin-left: 50%;
    text-align: center;
    margin-top: -30%;
    margin-right: -1%;
    margin-bottom: -5%;
}

.itens {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30%;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-right: -25%;


    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 5px;
        margin-left: 5%;
        border-radius: 10px;
        background-color: #4f545c;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


        .item__icon {
            img {
                width: 100%;
                border-radius: 10px;
                min-width: 100%;
                max-width: 100%;
            }
        }

        .item_info {
            text-align: center;
            margin-top: 10px;
            position: relative;

            h1 {
                margin: 0;
                margin-top: -25%;
                font-size: 16px;
                font-weight: bold;
                flex-direction: column;
            }

            .item-name {
                color: #fff;
                font-size: 16px;
                font-family: var(--font-family);
                text-align: center;
                margin-top: -5%;
            }

            h1 {
                margin: 0;
                font-size: 20px;
                font-weight: bold;
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
                position: relative;
                display: inline-block;
            }

            .purchased {
                display: block;
                margin-top: 5px;
                color: rgb(103, 255, 103);
                font-size: 16px;
                font-weight: bold;
            }

            .cakes {
                display: block;
                margin-top: 5px;
                color: #5dabff;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

.server,
.item {
    margin: 20px;
    padding: 10px 20px;
    color: #fff;
    font-family: var(--font-family);
    font-size: 14px;
    text-decoration: none;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;

    transition: transform 0.5s;

    &:not(:hover) {
        transform: scale(1);
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    &.disabled {
        cursor: not-allowed;
    }
}

.guild-name {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: var(--font-family);

    margin-top: -30%;
    margin-left: 55%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

.selected {
    border: 2px solid #4caf50;
}


.hidden {
    display: none !important;
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.5);
        opacity: 0;
    }
}

@media (max-width: 768px) {

    #addBanner {
        display: none !important;
    }

    .adsbygoogle {
        display: none !important;
    }

    html {
        background-size: contain;
    }

    .store-item,
    .servers,
    .itens {
        margin: -90% auto;
        flex-direction: column;
        margin-left: 10%;
        margin-right: -30%;
    }

    .item-name,
    .title,
    .section-header,
    .guild-name {
        font-size: 24px;
        margin-left: 0;
        margin-right: 0;
    }

    .item-img,
    .main__image,
    .current-key__no-key__image,
    .user-avaliable-keys__no-key__image {
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .module,
    .server-feature,
    .item,
    .server {
        min-width: 100%;
        max-width: 100%;
        margin: 5% auto;
        padding: 10px;
    }

    .sidebar-logo {
        width: 100px;
        height: auto;
        margin: 5% auto;
    }

    .server__button,
    .key-manager__add__submit {
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }

    .item_info h1 {
        font-size: 18px;
    }

    .item_info .purchased,
    .item_info .cakes {
        font-size: 14px;
    }
}

@media (min-width: 1920px) {
    .itens {
        margin-top: -23%;
    }
}

#adBanner {
    position: fixed;
    right: 0;
    margin-left: 1%;
    top: 100px;
    z-index: 10;
}