@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import "components/background";
@import "components/popup";
@import "components/footer";
@import "components/ad-position";

main .meeting {
    color: #fff;
    font-size: 40px;
    font-family: 'Cookie';
    margin-left: 5px;
    margin-top: 5px;
}

main .meeting-2 {
    color: #fff;
    font-size: 40px;
    font-family: 'Cookie';
    margin-left: 5px;
    margin-top: 1px;
}

.logo {
    width: 10rem;
    height: auto;
    margin-top: 2%;
    transition-duration: 0.5s;
}


.features {
    padding: 30px;
    opacity: inherit;
    background-color: #36393f;
    border-color: #000;
    position: relative;
    text-align: center;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    transition: 0.5s;
    margin-left: 5px;
    font-family: var(--reimu-default-font-family);
    transition-property: box-shadow;
    cursor: pointer;
}

.shadow__btn {
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
}

#add {
    background: rgb(68, 192, 57);
    box-shadow: 0 0 25px rgb(68, 192, 57);
}

#add:hover {
    box-shadow: 0 0 5px rgb(68, 192, 57),
        0 0 25px rgb(68, 192, 57),
        0 0 50px rgb(68, 192, 57),
        0 0 100px rgb(68, 192, 57);
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255),
        0 0 50px rgb(0, 140, 255),
        0 0 100px rgb(0, 140, 255);
}

main {
    padding-left: 30%;
    padding-right: 50%;
    margin-top: 15%;
    margin-left: -25%;
    transition-duration: 0.5s;
    text-align: center;
    cursor: default;
}


main .foxy {
    margin-left: 135% !important;
    margin-top: -20rem !important;
    margin-bottom: 19% !important;
    width: 18rem;
    height: auto;
    display: inline !important;
    border-radius: 50% !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: float 2s ease-in-out infinite;
}

main .foxy:hover {
    transform: scale(1.1);
}

.features {
    padding: 30px;
    background-color: #2b2d31;
    border-color: #000;
    position: relative;
    text-align: center;

    .title {
        font-family: var(--reimu-default-font-family);
        font-size: 200%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        color: #e7385d;
    }
    
    p {
        font-family: var(--reimu-default-font-family);
        font-size: 15px;
        color: #3d3d3d;
        margin-left: auto;
    }

    .feature__title {
        font-family: var(--reimu-default-font-family);
        font-size: 20px;
        margin-top: 20px;
        color: #fff;
    }

    .description {
        font-family: var(--reimu-default-font-family);
        color: #fff;
    }

    .feature {
        display: flex;
        margin: 20px;
        padding: 2rem;
        border-radius: 10px;
        background-color: #2b2d31;
        align-items: flex-start;
        margin-top: 1rem;
        &.right {
            flex-direction: row;
        }

        &.left {
            flex-direction: row-reverse;
        }

        &.centralized {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .text-container {
            flex: 1;
            text-align: left;
            margin-right: 20px;
            padding: 0 10px;
        }

        h1 {
            font-family: var(--reimu-default-font-family);
            font-size: 160%;
            margin: 0 0 10px 0;
            color: #e7385d;
        }

        h2 {
            font-family: var(--reimu-default-font-family);
            font-size: 110%;
            margin: 0;
            color: #ffffff;
        }

        .feature-image {
            width: 10rem;
            height: auto;
            margin-left: 20px;
        }
    }

    @media (max-width: 768px) {
        .feature {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .text-container {
                margin-right: 0;
                padding: 0;
                margin-top: 20px;
            }

            .feature-image {
                display: none;
            }
        }
    }
}

.server-name {
    color: #fff !important;
    margin-top: 1rem !important;
}

main {
    margin-top: 11rem;

    .meeting {
        color: #fff;
        font-size: 40px;
        font-family: 'Cookie';
        margin-left: 5px;
        margin-top: 1rem;
    }

    .meeting-2 {
        color: #fff;
        font-size: 40px;
        font-family: 'Cookie';
        margin-left: 5px;
        margin-top: 1px;
    }
}

.server-container {
    margin-bottom: -5rem;
}

.server-card {
    width: 200px;
    height: 170px;
    background-color: var(--reimu-server-card-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: #fff;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s;

    img {
        width: 100px;
        border-radius: 50%;
        margin-bottom: -5px;
    }

    .server-name {
        font-size: 20px;
        margin-bottom: -10px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:last-child {
        margin-right: 1.1rem;
    }

    &:active {
        transform: scale(1);
    }
}

@media only screen and (max-width: 800px) {
    main .foxy {
        display: none !important;
    }
}

@media only screen and (max-width: 320px) {

    main .foxy {
        display: none !important;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}