@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://lotus.cakeyfox.live/styles/body.css");
@import "components/background";
@import "components/popup";

:root {
    --primary-color: #ff4655;
    --secondary-color: #eb5362;
}

/* Main page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Theme */

html.dark-theme body .meeting,
html.dark-theme body .meeting-2 {
    color: #fff !important;
}

html.dark-theme body .features,
html.dark-theme body .feature {
    background-color: #36393f !important;
}

html.dark-theme body .features h2 {
    color: #fff !important;
}

.features {
    padding: 30px;
    opacity: inherit;
    background-color: #ffffff;
    border-color: #000;
    position: relative;
    text-align: center;

    p {
        font-family: "Poppins";
        font-size: 15px;
        color: #3d3d3d;
        margin-left: auto;
    }

    .feature__title {
        font-family: "Poppins";
        font-size: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        color: #272222;
    }

    .description {
        font-family: "Poppins";
        text-align: center;
        color: #272222;
    }

    .feature {
        flex-direction: column;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
        border-color: #000;
        position: relative;

        h1 {
            font-family: "Poppins";
            font-size: 160%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            color: #e7385d;
        }

        h2 {
            font-family: "Poppins";
            font-size: 110%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            color: #272222;
        }
    }
}



.server-name {
    color: #fff !important;
}

main  {
    .meeting {
        color: #e7385d;
        font-size: 40px;
        font-family: 'Cookie';
        margin-left: 5px;
        margin-top: 5px;
    }

    .meeting-2 {
        color: #e7385d;
        font-size: 40px;
        font-family: 'Cookie';
        margin-left: 5px;
        margin-top: 1px;
    }
}

.server-card {
    width: 200px;
    height: 170px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: #fff;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s;

    img {
        width: 100px;
        border-radius: 50%;
        margin-bottom: -5px;
    }

    .server-name {
        font-size: 20px;
        margin-bottom: -10px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:last-child {
        margin-right: 1.1rem;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}