@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

$sidebar-background: #36393f;
$separator-color: #2f3136;
$default-color: #e7385d;

* {
    text-decoration: none !important;
}

.left-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 330px;
    background-color: $sidebar-background;
    transition: left 0.3s ease;
    overflow-y: auto;
    scrollbar-width: thin;
    box-shadow: 0 0 10px $default-color;
    scrollbar-color: #4f545c #36393f;
    z-index: 900;

    .entry {
        padding: 0.2345rem 1rem;
        color: #fff;
        font-family: "Poppins";
        font-size: 0.895rem;
        display: flex;
        justify-content: space-between;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #2f3136;
        }
    }

    .separator {
        height: 1px;
        width: 100%;
        background-color: $separator-color;
        margin: 10px 0;
    }

    .entries {
        margin-top: 70px;
    }

    .sidebar-server-icon {
        border-radius: 50%;
        margin: 60px auto 0;
        display: block;
        width: 130px;
        height: 130px;
    }

    .section-title {
        color: $default-color;
        font-size: 20px;
        text-align: left !important;
        font-family: "Poppins";
        margin-left: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .logo {
        width: 150px;
        margin: -50px auto 10px;
        display: block;
    }
}

.sidebar-toggle {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2000;

    &:focus {
        outline: none;
    }
}

@media screen and (max-width: 768px) {
    .sidebar-toggle {
        display: block;
    }

    .left-sidebar {
        left: -100%;
        width: 100%;
    }

    .left-sidebar.open {
        left: 0;
    }
}