@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "components/default-padding";
@import "components/background";

.store-info {
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    margin-left: -2%;
}

p {
    color: #fff;
    font-size: 17px;
    font-family: "Poppins";
    margin-left: 5px;
    margin-top: 10px;
}

main {
    padding-left: 20%;
    padding-right: 25%;
    margin-top: 6%;
    margin-left: 10%;
    transition-duration: 0.5s;
    text-align: center;

    .title {
        color: #fff;
        font-size: 35px;
        margin-bottom: 1%;
        font-family: "Poppins";
    }

    .action__btn {
        .btn {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            font-family: Roboto, sans-serif;
            line-height: 20px;
            font-size: 17px;
            color: #fff;
            min-width: 36px;
            margin-left: 1.5%;
            padding: .5rem 1rem;
            margin-top: 10%;
            box-sizing: border-box;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            background: #7289da;
            transition: background-color .15s ease, color .15s ease;
        }
    }

    .store_image {
        width: 50%;
        height: 40%;
        text-align: left;
        margin-left: -170%;
        margin-top: -300%;
    }
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-left: -60%;
    margin-bottom: 5%;
    cursor: default;
    margin-right: -50%;
}

.item-rec {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #5865F2;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: default;
}

.items-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    margin-left: -50%;
    margin-bottom: 5%;
    margin-right: -40%;
    cursor: default;
}

.item__info {
    .plan-title {
        margin-bottom: 10px;
        font-size: 18px;
    }


}

.item:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.item-rec:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.item,
.item-rec {
    transition: transform 0.5s;
}

.item:not(:hover),
.item-rec:not(:hover) {
    transform: scale(1);
}
.item__info .price {
    margin-top: -2%;
    margin-bottom: 15px;
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
}
.item__info h3 {
    margin: 0.5;
    font-size: 16px;
    font-weight: normal;
    flex-direction: column;
}

.item__info h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
}

.item__buttons {
    margin-top: 17px;
}

.recommended-flag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background: #333b94;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0 0 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotate(-40deg);
    z-index: 1;
    margin-top: 5%;
    margin-left: -10%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.item {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #7289da;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item__button {
    display: block;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #fff;
    color: #7289da;
    text-align: center;
    text-decoration: none;
}

main h1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Poppins";
    
    margin-top: 5%; 
}

main h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "Poppins";
    
    margin-top: 5%;
}
main .products {
    display: flex;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: -30%;
    margin-right: 30%;
    max-width: 100%;
    flex-direction: row;

}

.product {
    width: 50%;
    height: 200px;
    max-width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1rem;
}
main  .action__btn .btn.primary {
    background: #5865f2;
}


main  .action__btn .btn.primary:disabled {
    background: #4752c4;
    opacity: .5;
    cursor: not-allowed
}

main  .action__btn .btn.primary:hover {
    background: #4752c4;
}

main  .action__btn .btn.success {
    background: #3ba55c;
}

main  .action__btn .btn.success:hover {
    background: #359553;
}

main  .action__btn .btn.success:disabled {
    opacity: .5;
    background-color: #359553;
    cursor: not-allowed;
}

main .main__image {
    margin-top: -25%;
    margin-bottom: 5%;
}

main .user__avatar {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    margin-top: -30%;
    margin-bottom: 5%;
}

main h1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Poppins";
    
}

main #coins {
    color: #486be0;
}

main h3 {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 5px;
}

main h4 {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 5px;
}

main a {
    list-style: none;
}

.avatar {
    width: 200px;
    height: 200px;
    background: rgb(56, 56, 56);
    border-radius: 300px;
    position: relative;
    background-size: 100%;
    left: 50%;
}

main a button:hover {
    background-color: #047cd6;
    transition-duration: 0.5s;
}

.action__buttons {
    text-align: center;
    margin-top: 20px;
}

main h2 {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 5px;
}

main  #default .default-button {
    color: #fff;
    background-color: #047cd6;
    font-family: "Poppins";
    font-size: 20px;
    cursor: pointer;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    border: none;
    margin: 20px 5px 10px 5px;
    animation: float 6s ease-in-out infinite;
    transition-duration: 0.5s;
}

.inline-emoji {
    height: 1.5em;
    position: relative;
    top: 0.3em;
}

main  .action__btn .danger_btn {
    color: #fff;
    background-color: rgb(224, 72, 72);
    font-family: "Poppins";
    font-size: 20px;
    cursor: pointer;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    border: none;
    animation: float 6s ease-in-out infinite;
    transition-duration: 0.5s;
}