* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/images/DiscordBackground.png");
}

main {
    padding-left: 3%;
    padding-right: 30%;
    margin-top: 20em;
    transition-duration: 0.5s;
}

main .dashboard_section {
    margin-top: 10%;
}

main .main__image {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-top: -30%;
    margin-left: 10%;
    margin-bottom: 5%;
}

main .username {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: Montserrat;
    animation-duration: 4s;
}

main h3 {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 5px;
}

main a {
    list-style: none;
}

main .user-status {
    margin-left: 35em;
}

main .user-status .rep {
    margin-top: 15%;
}

main .bal #value {
    color: #486be0;
    margin-right: 100%;
}

main .rep #value {
    color: #486be0;
    margin-right: 100%;
}

main .user__statistics {
    text-align: center;
    margin-top: -24%;
    margin-left: 35%;
}

main .aboutme-session .aboutme-title {
    font-size: 20px;
    margin-top: 15%;
}

main .main__buttons {
    margin-top: -16%;
    margin-left: 39%;
    padding: .75rem 1rem;
}

main .main__buttons .action__btn .btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 20px;
    color: #fff;
    min-width: 36px;
    margin-left: 1.5%;
    padding: .5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    background: #7289da;
    transition: background-color .2s
}

main .main__buttons .action__btn .btn.danger {
    background: #ff4949;
}

@media only screen and (min-width: 1714px) {
    main {
        padding-left: 3%;
        padding-right: 30%;
        margin-top: 25%;
        transition-duration: 0.5s;
    }

    main .dashboard_section {
        margin-top: 10%;
    }

    main .main__image {
        width: 25%;
        height: 25%;
    }

    main .username {
        font-size: 66px;
    }

    main h3 {
        color: #fff;
        font-size: 18px;
        font-family: sans-serif;
        margin-left: 5px;
    }

    main a {
        list-style: none;
    }

    main .user-status .bal {
        margin-left: 9em;
        font-size: 45px;
    }

    main .user-status .rep {
        margin-top: 15%;
        margin-left: 9em;
        font-size: 45px;
    }

    main .bal #value {
        color: #486be0;
        margin-right: 35%;
        font-size: 45px;
    }

    main .rep #value {
        color: #486be0;
        margin-right: 35%;
        font-size: 45px;
    }

    main .user__statistics {
        text-align: center;
        margin-top: -24%;
        margin-left: 35%;
    }
    main .aboutme-session .aboutme-title {
        font-size: 35px
    }

    main .main__buttons * {
        margin-top: -35%;
    }
}

@media only screen and (max-width: 700px) {
    main {
        padding-left: 3%;
        padding-right: 30%;
        margin-top: 25%;
        transition-duration: 0.5s;
    }

    main .dashboard_section {
        margin-top: 5%;
    }

    main .dashboard-title {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-family: Montserrat;
        animation-duration: 4s;
    }

    main .main__image {
        width: 35%;
        height: 35%;
        border-radius: 50%;
        margin-top: -30%;
        margin-left: 50%;
        margin-bottom: 5%;
    }

    main .username {
        color: rgb(255, 255, 255);
        font-size: 36px;
        margin-top: 30%;
        font-family: Montserrat;
        animation-duration: 4s;
    }

    main h3 {
        color: #fff;
        font-size: 18px;
        font-family: sans-serif;
        margin-left: 5px;
    }

    main a {
        list-style: none;
    }

    main .user-status {
        margin-left: 15em;
    }

    main .user-status .rep {
        margin-top: 15%;
    }

    main .bal #value {
        color: #486be0;
        margin-right: 35%;
    }

    main .rep #value {
        color: #486be0;
        margin-right: 100%;
    }

    main .user__statistics {
        text-align: center;
        margin-top: -24%;
        margin-left: 35%;
    }

    main .aboutme-session .aboutme-title {
        display: none;
    }

    main .main__buttons {
        margin-top: -2%;
    }

}