@import"https://fonts.googleapis.com/css?family=Roboto:500";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/images/DiscordBackground.png");
    background-color: #36393f;
}

main {
    padding-left: 3%;
    padding-right: 30%;
    margin-top: 20em;
}

main .dashboard_section {
    margin-top: 10%;
}

main .main__image {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-top: -30%;
    margin-left: 10%;
    margin-bottom: 5%;
}

main .user__statistics {
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

main .username {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: Montserrat;
    animation-duration: 4s;
}

main h3 {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 5px;
}

main a {
    list-style: none;
}

main .user-status {
    margin-left: 35em;
}

main .user-status .rep {
    margin-top: 5%;
}

main .premium {
    margin-top: 5%;
}

main .bal #value {
    color: #486be0;
    margin-right: 100%;
}

main .rep #value {
    color: #486be0;
    margin-right: 100%;
}

main .premium #value {
    color: #486be0;
    margin-right: 5%;
}

main .bal {
    margin-left: 5%;
}

main .user__statistics {
    text-align: center;
    margin-top: -24%;
    margin-left: 35%;
}

main .aboutme-session .aboutme-title {
    font-size: 20px;
    margin-top: 15%;
}

main .premium_session .premium-title {
    margin-left: 70%;
}

main .main__buttons {
    margin-top: -20%;
    margin-left: 39%;
}

main .main__buttons .action__btn .btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-family: Roboto, sans-serif;
    line-height: 20px;
    font-size: 17px;
    color: #fff;
    min-width: 36px;
    margin-left: 1.5%;
    padding: .5rem 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background: #7289da;
    transition: background-color .15s ease, color .15s ease;
}


main .main__buttons .action__btn .btn.danger {
    background: #ed4245;
}

main .main__buttons .action__btn .btn.danger:hover {
    background: #d53b3e;
}

main .main__buttons .action__btn .btn.primary {
    background: #5865f2;
}

main .main__buttons .action__btn .btn.primary:disabled {
    background: #4752c4;
    opacity: .5;
    cursor: not-allowed
}

main .main__buttons .action__btn .btn.primary:hover {
    background: #4752c4;
}

main .main__buttons .action__btn .btn.success {
    background: #3ba55c;
}

main .main__buttons .action__btn .btn.success:hover {
    background: #359553;
}

main .main__buttons .action__btn .btn.success:disabled {
    opacity: .5;
    background-color: #359553;
    cursor: not-allowed;
}

@media only screen and (min-width: 717px) {
    main {
        padding-left: 3%;
        padding-right: 30%;
        margin-top: 25%;
        transition-duration: 0.5s;
    }

    main .dashboard_section {
        margin-top: -10%;
    }

    main .main__image {
        width: 25%;
        height: 25%;
    }

    main .username {
        font-size: 35px;
        margin-left: -10%;
    }

    main .main__buttons {
        padding: .45rem 1em;
        margin-top: -20%;
    }

    main .main__buttons .action__btn .btn.danger {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 1714px) {
    main {
        padding-left: 3%;
        padding-right: 30%;
        margin-top: 25%;
        transition-duration: 0.5s;
    }

    main .dashboard_section {
        margin-top: 10%;
    }

    main .main__image {
        width: 25%;
        height: 25%;
    }

    main .username {
        font-size: 66px;
    }

    main h3 {
        color: #fff;
        font-size: 18px;
        font-family: sans-serif;
        margin-left: 5px;
    }

    main a {
        list-style: none;
    }

    main .user-status .bal {
        margin-left: 9em;
        font-size: 45px;
    }

    main .user-status .rep {
        margin-top: 15%;
        margin-left: 9em;
        font-size: 45px;
    }

    main .bal #value {
        color: #486be0;
        margin-right: 35%;
        font-size: 45px;
    }

    main .rep #value {
        color: #486be0;
        margin-right: 35%;
        font-size: 45px;
    }

    main .user__statistics {
        text-align: center;
        margin-top: -24%;
        margin-left: 35%;
    }

    main .aboutme-session .aboutme-title {
        font-size: 35px
    }

    main .main__buttons * {
        margin-top: -35%;
    }
}

@media only screen and (max-width: 985px) {
    main {
        padding-left: 3%;
        padding-right: 30%;
        margin-top: 25%;
        transition-duration: 0.5s;
    }

    main .dashboard_section {
        margin-top: 5%;
    }

    main .dashboard-title {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-family: Montserrat;
        animation-duration: 4s;
    }

    main .main__image {
        width: 35%;
        height: 35%;
        border-radius: 50%;
        margin-top: -30%;
        margin-left: 50%;
        margin-bottom: 5%;
    }

    main .username {
        color: rgb(255, 255, 255);
        font-size: 36px;
        margin-top: 30%;
        font-family: Montserrat;
        animation-duration: 4s;
    }

    main h3 {
        color: #fff;
        font-size: 18px;
        font-family: sans-serif;
        margin-left: 5px;
    }

    main a {
        list-style: none;
    }

    main .user-status {
        margin-left: 15em;
    }

    main .user-status .rep {
        margin-top: 15%;
    }

    main .bal #value {
        color: #486be0;
        margin-right: 10%;
    }

    main .rep #value {
        color: #486be0;
        margin-right: 15%;
    }

    main .user__statistics {
        text-align: center;
        margin-top: -24%;
        margin-left: 35%;
    }

    main .aboutme-session .aboutme-title {
        display: none;
    }

    main .main__buttons {
        margin-top: -2%;
    }

}