<!DOCTYPE html>
<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
        crossorigin="anonymous"></script> crossorigin="anonymous"></script>
    <title>Foxy | Sobre Mim</title>
    <link rel="icon" href="/assets/images/foxycake.png">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/aboutme.css">
    <link rel="stylesheet" href="/styles/header.css">
</head>
<style>
    header {
        margin-top: -1.25%;
    }
</style>

<body>
    <%- include('../../global/header') %>
    <main>
        <div class="aboutme-body">
            <h1>Sobre mim</h1>
            <h3>Altere seu sobre mim direto pelo website</h3>
            <form action="/submit" method="post">
                <input type="text" name="aboutme" placeholder="Foxy muito fofa :3" required>
                <button type="submit">Salvar</button>
            </form>
            <h3>Não insira dados pessoais como telefone, cartão de crédito, etc</h3>
            <br>
            <a href="/br/dashboard"><button class="home_button">Voltar</button></a>
        </div>

        <%- include('../sidebar') %>
    </main>
</body>
<script src="../js/HeaderMobile.js"></script>

</html>