<!DOCTYPE html>
<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
        crossorigin="anonymous"></script> crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/utils.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="icon" href="/assets/images/foxycake.png">
    <title>Foxy | Daily</title>
</head>
<style>
    header {
        margin-top: -1.25%;
    }
</style>

<body>
    <%- include('../../global/header') %>
        <main>
            <div class="daily-page">
                <% if (allowed) { %>
                    <audio src="../assets/audios/shiftcomplete.mp3" id="shiftcomplete" autoplay></audio>
                    <img class="daily_image" src="../assets/images/foxyoculos.png" alt="dashboard">
                    <h1>Você recebeu seu prêmio diário e...</h1>
                    <br>
                    <h2>
                        Ganhou
                        <strong id="coins">
                            <%= coins %>
                        </strong> Cakes
                    </h2>
                    <br>
                    <h3>Agora você possui <%= dbCoins %> Cakes
                            <br>
                    </h3>
                    <br>
                    <a href="/br/dashboard"><button class="home_button">Voltar</button></a>
                    <% } else { %>
                        <img class="daily_image" src="../assets/images/foxycry.png" alt="dashboard">
                        <h1>Você já pegou seu prêmio diário</h1>
                        <br>
                        <a href="/br/dashboard"><button class="home_button">Voltar</button></a>
                        <% } %>
            </div>
            <%- include('../sidebar') %>
        </main>
</body>
<script src="../js/HeaderMobile.js"></script>

</html>