<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/dashboard.css" type="text/css">
  <link rel="stylesheet" href="/styles/loading.css" type="text/css">
  <title>Foxy | Seus backgrounds</title>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <link rel="icon" href="/assets/images/foxycake.png">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3J7N4BP8L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-E3J7N4BP8L');
  </script>
</head>

<body>
  <div id="loadingOverlay" class="loading-overlay">
    <%- include('../../../global/loading') %>
  </div>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
    crossorigin="anonymous"></script>
  <ins id="adBanner" class="adsbygoogle" style="display:inline-block;width:160px;height:600px"
    data-ad-client="ca-pub-7726590371480649" data-ad-slot="4619028248"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <main id="content" class="hidden">
    <!-- Content will be injected here by JavaScript -->
  </main>

  <%- include('../../sidebar') %>

    <div id="notification" class="notification"></div>

    <script>
      window.addEventListener('load', function () {
        fetch('/br/user/backgrounds/data')
          .then(response => response.json())
          .then(data => {
            document.getElementById('loadingOverlay').classList.add('hidden');
            document.getElementById('content').classList.remove('hidden');

            renderBackgrounds(data);
          })
          .catch(error => {
            console.error('Error fetching data:', error);
            document.getElementById('loadingOverlay').innerText = 'Failed to load content. Please try again later.';
          });
      });

      function renderBackgrounds(data) {
        const contentDiv = document.getElementById('content');
        contentDiv.innerHTML = `
        <div class="itens" id="inventory" style="
        margin-top: -2rem !important;
        margin-left: 22rem !important;
        margin-right: 5rem !important;
        ">
          ${data.userBackgrounds.reverse().map(background => {
          const isSelected = data.currentBackground === background.id;
          return `
              <div class="item ${isSelected ? 'selected' : ''}" ${!isSelected ? `onclick="change('${background.id}')" ` : ''}>
                <div class="item__icon">
                  <img class="background" 
                    src="https://orchid.cakeyfox.live/assets/backgrounds/${background.filename}" 
                    onerror="this.src='https://cakey.foxybot.win/assets/backgrounds/${background.filename}'" 
                    alt="${background.name}">
                </div>
                <div class="item_info">
                      <h1 class="item-name">${background.name}</h1>
                </div>
              </div>
            `;
        }).join('')}
        </div>
      `;
      }

      function change(backgroundId) {
        fetch(`/br/background/change/${backgroundId}`, { method: 'GET' })
          .then(response => {
            if (response.ok) {
              return response.json();
            } else {
              return response.text();
            }
          })
          .then(data => {
            if (typeof data === 'object' && data.success !== undefined) {
              showNotification('Fundo alterado com sucesso!');
              console.log('Background changed:', data);

              fetch('/br/user/backgrounds/data')
                .then(response => response.json())
                .then(updatedData => {
                  renderBackgrounds(updatedData);
                })
                .catch(error => {
                  console.error('Error fetching updated data:', error);
                  showNotification('Erro ao atualizar a lista de fundos.');
                });

            } else {
              showNotification('Erro ao alterar o fundo. Tente novamente.');
              console.error('Error changing background:', data);
            }
          })
          .catch(error => {
            console.error('Error changing background:', error);
            showNotification('Erro ao alterar o fundo. Tente novamente.');
          });
      }

      function showNotification(message) {
        const notification = document.getElementById('notification');
        notification.textContent = message;
        notification.classList.add('show');
        setTimeout(() => {
          notification.classList.remove('show');
        }, 3000);
      }
    </script>
</body>
<script src="../js/HeaderMobile.js"></script>

</html>