<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/header.css" type="text/css">
    <link rel="stylesheet" href="styles/main.css" type="text/css">
    <link rel="icon" href="../assets/images/foxycake.png">
    <audio src="../assets/audios/MAPBOT_00001alt_m.ogg" autoplay></audio>
    <title>Foxy está perdida :(</title>
</head>

<body>
    <header>
        <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
            <div class="left-side-entries">
                <div class="entry foxy-navbar-logo"><a href="/"><img src="../assets/images/Foxy.png" style="    font-size: 0px;
                    line-height: 0px;
                    width: 40px;
                    height: 40px;

                    position: absolute;
                    top: 3px;
                    border-radius: 100%;"></a></div>
                <div class="entry"><a href="/support" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Suporte
                    </a></div>
                <div class="entry"><a href="/privacy" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Termos
                    </a></div>

                <div class="entry"><a href="https://github.com/FoxyTheBot" class="extras" data-preload-link="true"
                        data-preload-link-activated="true">
                        GitHub
                    </a></div>
                <div class="entry"><a href="/team" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Equipe
                    </a></div>
                <div class="entry"><a href="/report" class="blog" data-preload-link="true"
                        data-preload-link-activated="true">
                        Sugerir
                    </a></div>
                <div class="entry"><a href="/about" class="about">
                        Sobre
                    </a></div>
                <div class="entry"><a href="/upvote" class="menu">
                        Votar
                    </a></div>
            </div>
            <div class="right-side-entries">

                <div class="entry" id="locale-changer-button" style="cursor: default;">
                    </span>
                </div>
                <div class="entry">
                    <a href="/dashboard" id="login-button"><img
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        top: 3px;
                        border-radius: 100%;">
                        <div style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        visibility: hidden;
                        height: 0px;
                        display: inline-block;"></div><span style="padding-left: 4px;">
                            <%= user.username %>#<%=user.discriminator %>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        </nav>
        <button id="menu" class="mobile">Menu</button>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/team">Equipe</a>
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/privacy">Termos de uso</a>
            <a href="/radio">Rádio</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>
    <main>
        <h1>404</h1>
        <h3>
            <br>
            Calma aí! Onde estamos? Que dia é hoje? Acho que nos perdemos.
            <br>
        </h3>
        <a href="/"><button>Voltar a página inicial</button></a>
    </main>
</body>
<script src="../js/HeaderMobile.js"></script>

</html>