<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
    crossorigin="anonymous"></script>
    <title>Foxy | Sobre</title>
    <link rel="icon" href="../assets/images/foxycake.png">
    <link rel="stylesheet" href="../styles/readonly.css">
    <link rel="stylesheet" href="../styles/header.css">

</head>

<body>
    <header>
        <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
            <div class="left-side-entries">
                <div class="entry foxy-navbar-logo"><a href="/"><a href="/"><img src="../assets/images/Foxy.png" style="    font-size: 0px;
                    line-height: 0px;
                    width: 40px;
                    height: 40px;

                    position: absolute;
                    top: 3px;
                    border-radius: 100%;"></a></a></div>
                <div class="entry"><a href="/support" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Suporte
                    </a></div>
                <div class="entry"><a href="/terms" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Termos
                    </a></div>

                <div class="entry"><a href="https://github.com/FoxyTheBot" class="extras" data-preload-link="true"
                        data-preload-link-activated="true">
                        GitHub
                    </a></div>


                <div class="entry"><a href="/about" class="about">
                        Sobre
                    </a></div>
                <div class="entry"><a href="/upvote" class="menu">
                        Votar
                    </a></div>
            </div>
            <div class="right-side-entries">

                <div class="entry" id="locale-changer-button" style="cursor: default;">
                    </span>
                </div>
                <div class="entry">
                    <a href="/dashboard" id="login-button"><img
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        height: 40px;

                        position: absolute;
                        top: 3px;
                        border-radius: 100%;">
                        <div style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        visibility: hidden;
                        height: 0px;
                        display: inline-block;"></div><span style="padding-left: 4px;">
                            <%= user.global_name %>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        </nav>
        <button id="menu" class="mobile">Menu</button>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/terms">Termos de uso</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>
    <main>
        <h1>Quem sou eu?</h1>
        <h3>
            <br>
            Oie, eu sou a Foxy! Um simples bot para o Discord :3 <br>
            Eu fui criada pelo WinG4merBR no dia 26/07/2020, com o intuito de ser um bot de música para o servidor de
            amigos da Focaws<br><br>
            No começo eu ficava hospedada na Discloud e tinha uns comandos bem bosta para ser sincera ;w;<br><br>
            com o tempo eu fui melhorando até chegar meu primeiro natal onde eu já estava em mais de 100 servidores :3
            fui crescendo ao longo de 2021 e 2022 e infelizmente em Fevereiro de 2021 até o meio de 2021 pois estava sem
            ânimo o Win tinha
            parado
            o meu desenvolvimento e não tive um crescimento grande em termos de servidores, quando o Win voltou com o
            desenvolvimento ativo
            (em Julho de 2021 meu aniversário de um aninho) o meu crescimento voltou a ser grande porém no dia
            25/12/2021 conseguiram fazer eu sair de TODOS os servidores
            que eu estava (443 Servidores), até hoje que eu escrevi esse texto (20 de Junho de 2022) estou em 313
            servidores, estou recuperando aos poucos
            os 443 servidores com ajuda das pessoas incríveis do meu servidor :3 <br>
            O meu desenvolvimento continua ativo, estou recebendo novidades e correções de bugs constantes :3
        </h3>
    </main>
</body>

</html>