<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../../../styles/pages.css">
    <link rel="stylesheet" href="../../../styles/footer.css">
    <link rel="icon" href="../assets/images/foxycake.png">
    <title>Foxy | Confirm</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img src="../assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Termos</a></li>
                <li><a href="/discord">Suporte</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
        <a class="cta" href="/">Home</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/team">Equipe</a>
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/privacy">Termos de uso</a>
            <a href="/logout">Sair</a>
            <a href="/dashboard">
                <%= user.username %>
            </a>
        </div>
    </div>
    <main>
        <img class="main__image" src="../assets/images/foxymedu.png" alt="dashboard">
        <h1>Você está prestes a deletar sua conta!</h1>
        <br>
        <h4>Se você fazer isso você perderá TUDO QUE POSSUI na Foxy como:</h4>
        <br>
        <h4>
            <%= db.balance %> FoxCoins <br>
                <%= db.repCount %> Reputações <br> Todos os seus backgrounds <br> Entre outros...
        </h4>
        <div class="main__buttons">
            <a class="action__btn" href="/delete"><button class="danger_btn">Deletar Conta</button></a>
            <a href="/dashboard" id="default"><button class="default-button">Voltar</button></a>
        </div>
    </main>

</body>
<script src="../js/HeaderMobile.js"></script>

</html>