<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
     crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/autoPlay.js"></script>
    <link rel="icon" href="../assets/images/foxycake.png">
    <link rel="stylesheet" href="../styles/mainHeader.css" type="text/css">
    <link rel="stylesheet" href="../styles/footer.css" type="text/css">
    <link rel="stylesheet" href="../styles/mainPage.css" type="text/css">
    <title>Foxy | Home</title>

    <meta property="og:type" content="website">
    <meta content="Foxy" property="og:title" />
    <meta property="og:site_name" content="Foxy Website">
    <meta content="Olá, Eu sou a Foxy! Um bot de economia e entretenimento para o seu servidor do Discord!"
        property="og:description" />
    <meta content="https://foxybot.win" property="og:url" />
    <meta content="#e7385d" data-react-helmet="true" name="theme-color" />
    <meta content="/assets/images/Foxy.png" property="og:image" />

</head>

<body>
    <header>
        <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
            <div class="left-side-entries">
                <div class="entry foxy-navbar-logo"><a href="/"><img src="../assets/images/Foxy.png" style="    font-size: 0px;
                    line-height: 0px;
                    width: 40px;
                    height: 40px;

                    position: absolute;
                    top: 3px;
                    border-radius: 100%;"></a></div>
                <div class="entry"><a href="/support" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Suporte
                    </a></div>
                    <div class="entry"><a href="/terms" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Termos
                    </a></div>
                <div class="entry"><a href="https://github.com/FoxyTheBot" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        GitHub
                    </a></div>

                <div class="entry"><a href="/report" class="blog" data-preload-link="true"
                        data-preload-link-activated="true">
                        Sugerir
                    </a></div>
                <div class="entry"><a href="/about" class="about">
                        Sobre
                    </a></div>
                <div class="entry"><a href="/upvote" class="menu">
                        Votar
                    </a></div>
            </div>
            <div class="right-side-entries">

                <div class="entry" id="locale-changer-button" style="cursor: default;">
                    </span>
                </div>
                <div class="entry">
                    <a href="/dashboard" id="login-button"><img
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        height: 40px;

                        position: absolute;
                        top: 3px;
                        border-radius: 100%;">
                        <div style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        visibility: hidden;
                        height: 0px;
                        display: inline-block;"></div><span style="padding-left: 4px;">
                            <%= user.username %>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        </nav>
        <button id="menu" class="mobile">Menu</button>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/terms">Termos de uso</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>
    <div class="background-overlay">

        <main>
            <img class="main__image" src="../assets/images/foxycake.png">
            <h1 class="title">Foxy</h1>
            <h3>Oii, eu sou a Foxy! Um bot de economia e entretenimento 100% brasileiro para seu servidor do Discord!
            </h3>
            <br>
            <a href="/add"><button>Adicionar</button></a>
            <a href="/discord"><button class="discord__button">Suporte</button></a>
            <br>
            <br>
            <a href="/dashboard"><button class="discord__button">Dashboard</button></a>

            <img class="foxy" src="../assets/images/page.png">
        </main>
    </div>
    <div class="features">
        <br>
        <h1 class="title">Funcionalidades</h1>

        <div class="feature"">
            <h1>Economia</h1>
            <h2>Com a moeda da Foxy (cakes) você pode comprar backgrounds para o seu perfil e máscaras para o seu avatar, você também pode transferir para seu amigo ou fazer sorteio!</h2>
        </div>

        <div class="feature"">
            <h1>Entretenimento</h1>
            <h2>Foxy é um bot focado em entretenimento, você pode jogar alguns jogos como cara ou coroa e pedra papel e tesoura, Foxy também possui comandos relacionados a modificação de imagem como stonks e error e muito mais!</h2>
        </div>

        <div class="feature"">
            <h1>Perfil Customizável</h1>
            <h2>A Foxy possui um sistema de perfil bem customizável, onde você pode trocar seu background, layout, e máscaras de perfil!</h2>
        </div>

        <div class="feature"">
            <h1>Reputações</h1>
            <h2>Com o sistema de reputações da Foxy você pode dar reputações para alguem, trocar com seu amigo ou vender reputações!</h2>
        </div>

        <div class="feature" style="text-align: center;">
            <h1>E muito mais!</h1>
            </div>

            <div class="footer-add" style="text-align: center;">
                <h2>Gostou? Me adicione no seu servidor e divirta-se! :3</h2>
                <a href="/add"><button>Adicionar</button></a>
            </div>
        </div>
</body>
<script src=" ../js/HeaderMobile.js"></script>

</html>