<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/autoPlay.js"></script>
    <link rel="icon" href="../assets/images/foxycake.png">
    <link rel="stylesheet" href="../styles/mainHeader.css" type="text/css">
    <link rel="stylesheet" href="../styles/footer.css" type="text/css">
    <link rel="stylesheet" href="../styles/mainPage.css" type="text/css">
    <title>Foxy | Home</title>

    <meta property="og:type" content="website">
    <meta content="Foxy" property="og:title" />
    <meta property="og:site_name" content="Foxy Website">
    <meta content="Oiii!! Meu nome é Foxy, eu sou um bot de economia para o Discord mas também tenho outras funções :D"
        property="og:description" />
    <meta content="https://foxywebsite.ml" property="og:url" />
    <meta content="#5865F2" data-react-helmet="true" name="theme-color" />
    <meta content="/assets/images/Foxy.png" property="og:image" />

</head>

<body>
    <header>
        <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
            <div class="left-side-entries">
                <div class="entry foxy-navbar-logo"><a href="/"><img src="../assets/images/Foxy.png" style="    font-size: 0px;
                    line-height: 0px;
                    width: 40px;
                    height: 40px;

                    position: absolute;
                    top: 3px;
                    border-radius: 100%;"></a></div>
                <div class="entry"><a href="/support" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Suporte
                    </a></div>
                <div class="entry"><a href="/donate" class="menu">
                        Doar
                    </a></div>
                <div class="entry"><a href="https://github.com/FoxyTheBot" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        GitHub
                    </a></div>
                <div class="entry"><a href="/team" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Equipe
                    </a></div>
                <div class="entry"><a href="/about" class="about">
                        Sobre
                    </a></div>
                <div class="entry"><a href="/upvote" class="menu">
                        Votar
                    </a></div>
            </div>
            <div class="right-side-entries">

                <div class="entry" id="locale-changer-button" style="cursor: default;">
                    </span>
                </div>
                <div class="entry">
                    <a href="/dashboard" id="login-button"><img
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        height: 40px;

                        position: absolute;
                        top: 3px;
                        border-radius: 100%;">
                        <div style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        visibility: hidden;
                        height: 0px;
                        display: inline-block;"></div><span style="padding-left: 4px;">
                            <%= user.username %>#<%=user.discriminator %>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        </nav>
        <button id="menu" class="mobile">Menu</button>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/team">Equipe</a>
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/privacy">Termos de uso</a>
            <a href="/radio">Rádio</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>
    <div class="background-overlay">

        <main>
            <img class="main__image" src="../assets/images/foxyoculos.png">
            <h1 class="title">Foxy</h1>
            <h3>Oii, eu sou a Foxy! Um bot de economia e entretenimento 100% brasileiro para seu servidor do Discord!
            </h3>
            <a href="/add"><button>Adicionar</button></a>
            <a href="/discord"><button class="discord__button"><img class="button__image"
                        src="../assets/buttons/WhiteLogo.svg">Suporte</button></a>

            <div class="page-image">
                <img src="../assets/images/foxy_see.gif">
            </div>
        </main>
    </div>
</body>
<script src=" ../js/HeaderMobile.js"></script>

</html>