<!DOCTYPE html>
<html>

<head>
    <title>Foxy | Ativar Premium</title>
    <link rel="icon" href="../assets/images/foxycake.png">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
</head>

<body>
    <header>
        <a class="logo" href="/"><img src="../assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Termos</a></li>
                <li><a href="/discord">Suporte</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
        <a class="cta" href="/">Home</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/team">Equipe</a>
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/privacy">Termos de uso</a>
            <a href="/logout">Sair</a>
            <a href="/dashboard">
                <%= user.username %>
            </a>
        </div>
    </div>
    <main>
        <h1>Premium</h1>
        <h3>Ative os seu premium aqui para ter acesso aos seus benefícios</h3>
        <form action="/activate" method="post">
            <input type="text" name="key" placeholder="Key super legal para ativar seu premium" required>
            <button type="submit">Ativar</button>
        </form>
        <br>
        <div class="main__buttons">
            <a href="/dashboard" id="default"><button class="default-button">Voltar</button></a>
        </div>
    </main>
</body>

</html>