<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/header.css" type="text/css">
    <link rel="stylesheet" href="styles/footer.css" type="text/css">
    <link rel="stylesheet" href="styles/tos.css" type="text/css">
    <link rel="icon" href="/assets/images/foxycake.png">
    <title>Foxy | Rádio</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img src="/assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Termos</a></li>
                <li><a href="/discord">Suporte</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
        <style>
            .sla {
                margin-left: 20px;
                padding: 9px 25px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                color: #fff;
                font-family: "Montserrat", sans-serif;
            }
        </style>
        <a class="cta" href="/">Home</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/team">Equipe</a>
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/privacy">Termos de uso</a>
            <a href="/radio">Radio</a>
            <a href="/logout">Sair</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>
    <a href="http://www.radiosnet.com" target="_blank"> <img
            src="http://www.radios.com.br/gif/300x100_banner_radiosnet.jpg"
            alt="Ouça nossa rádio em seu smartphone ou tablet pelo app RadiosNet" width="300" height="100" border="0">
    </a>
    <main>
        <h1>A Rádio oficial da Foxy</h1>
        <br>
        <h3>Aparentemente eu (Win) sou louco lol, já que eu queria abrir uma emissora AM/FM mas eu não podia sem a
            certificação da Anatel, então eu decidi criar uma emissora de rádio online por brincadeira, tentarei manter
            essa rádio online :3</h3>
        <br>
        <iframe src="https://zeno.fm/player/foxymix" width="1000" height="500" frameborder="0"
            scrolling="no"></iframe><a href="https://zeno.fm/" target="_blank"
            style="display: block; font-size: 0.9em; line-height: 10px;">A Zeno.FM Station</a>
</body>
<script src="../js/HeaderMobile.js"></script>

</html>