<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <link rel="stylesheet" href="/styles/utils.css">
  <link rel="stylesheet" href="/styles/dashboard.css">
  <link rel="icon" href="/assets/images/foxycake.png">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3J7N4BP8L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-E3J7N4BP8L');
  </script>
  <title>Foxy | Daily</title>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>

<body>
  <main data-allowed="<%= allowed %>">
    <div class="daily-page" id="firstContent">
      <audio src="../assets/audios/shiftcomplete.mp3" id="shiftcomplete"></audio>
      <div class="result">
        <img src="/assets/emojis/foxy_daily.png" class="daily_image">
        <h1>Prêmio Diário</h1>
        <br>
        <h2>
          Pegue seu prêmio diário e ganhe Cakes!
        </h2>

        <h3 class="daily-warning">
          Você não pode trocar cakes por coisas como dinheiro, Nitro, conteúdos NSFW, etc! Caso faça isso, você será banido de usar a Foxy permanentemente!
        </h3>
      </div>
      <%- include('../../../global/captcha') %>
      <div class="discord-buttons">
        <a href="#"><button id="daily-btn" class="button success" onclick="receiveDaily()">Pegar prêmio</button></a>
        <a href="/br/dashboard"><button id="daily-btn" class="button">Voltar</button></a>
      </div>
      <br><br>
    </div>
    
    <div class="daily-page" id="secondContent">
      <div class="result">
        <img src="/assets/emojis/foxy_daily.png" class="daily_image">
        <h1>Você recebeu seu prêmio diário e...</h1>
        <br>
        <h2>
          Ganhou <strong id="coins">0</strong> Cakes
        </h2>
        
        <h3 class="daily-warning">
          Você não pode trocar cakes por coisas como dinheiro, Nitro, conteúdos NSFW, etc! Caso faça isso, você será banido de usar a Foxy permanentemente!
        </h3>
        <br>
        <h3>Agora você possui 0 Cakes<br></h3>
      </div>
      <div class="discord-buttons">
        <a href="#"><button id="daily-btn" class="button success disabled" disabled>Pegar prêmio</button></a>
        <a href="/br/dashboard"><button id="daily-btn" class="button">Voltar</button></a>
      </div>
    </div>

    <div class="daily-page" id="alreadyCollectedContent">
      <div class="result">
        <img src="/assets/emojis/foxy_daily.png" class="daily_image">
        <h1>Prêmio Diário</h1>
        <br>
        <h2>Você já pegou seu prêmio diário.</h2>
        
        <h3 class="daily-warning">
          Você não pode trocar cakes por coisas como dinheiro, Nitro, conteúdos NSFW, etc! Caso faça isso, você será banido de usar a Foxy permanentemente!
        </h3>
      </div>
      <div class="discord-buttons">
        <a href="#"><button id="daily-btn" class="button success disabled" disabled>Pegar prêmio</button></a>
        <a href="/br/dashboard"><button id="daily-btn" class="button">Voltar</button></a>
      </div>
      <br><br>
    </div>

    <div class="ad">
      <%- include("../../../global/ad") %>
    </div>

    <%- include('../../sidebar') %>
  </main>

  <script src="../js/HeaderMobile.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const allowed = document.querySelector("main").getAttribute("data-allowed") === "true";

      const firstContent = document.getElementById("firstContent");
      const secondContent = document.getElementById("secondContent");
      const alreadyCollectedContent = document.getElementById("alreadyCollectedContent");

      if (allowed) {
        firstContent.style.display = "block";
        secondContent.style.display = "none";
        alreadyCollectedContent.style.display = "none";
      } else {
        firstContent.style.display = "none";
        secondContent.style.display = "none";
        alreadyCollectedContent.style.display = "block";
      }
    });

    function receiveDaily() {
      const captchaResponse = turnstile.getResponse();

      if (!captchaResponse) {
        alert('Por favor, complete o CAPTCHA antes de pegar seu prêmio diário.');
        return;
      }

      fetch("/br/dashboard/daily/receive", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "cf-turnstile-response": captchaResponse
        }
      }).then(response => response.json()
        .then(data => {
          console.log(data);
          if (data) {
            document.querySelector("#coins").innerHTML = data.coins.toLocaleString("pt-BR");
            document.querySelector("h3").innerHTML = `Agora você possui ${data.totalCoins.toLocaleString("pt-BR")} Cakes`;
            document.querySelector("#shiftcomplete").volume = 0.5;
            document.querySelector("#shiftcomplete").play();

            firstContent.classList.add('fade-out');

            setTimeout(() => {
              firstContent.style.display = 'none';
              secondContent.style.display = 'block';
              setTimeout(() => {
                secondContent.style.opacity = 1;
              }, 30);
            }, 500);

            return;
          } else {
            alert("Você já pegou seu prêmio diário");
          }
        }));
    }
  </script>
</body>
<style>
  .adsbygoogle {
    display: unset !important;
  }
</style>

</html>
