<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/pages.css">
  <link rel="icon" href="../assets/images/foxycake.png">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
     crossorigin="anonymous"></script>
  <title>...</title>
</head>

<body>
  <main>
    <img class="main__image" src="../assets/images/foxymedu.png" alt="dashboard">
    <h1>Até um outro dia...</h1>
    <br>
    <h4>É triste ver você partir assim...<img class="inline-emoji" src="../assets/emojis/foxy_cry.png"> Desculpa se fiz
      algo de errado!</h4>
    <h4>
      <br><br>Sua conta foi deletada e <strong>TODAS</strong> as suas FoxCoins, Reputações, Backgrounds, etc
    </h4>
    <div class="main__buttons">
      <a href="/" id="default"><button class="default-button">Voltar</button></a>
    </div>
  </main>

</body>

</html>