<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <script src="js/autoPlay.js"></script>
  <link rel="stylesheet" href="/styles/footer.css" type="text/css">
  <link rel="stylesheet" href="/styles/main.css" type="text/css">
  <link rel="stylesheet" href="/styles/profiles.css" type="text/css">
  <link rel="icon" href="./assets/images/foxycake.png">
  <title>Foxy | Equipe</title>
</head>

<body>
  <header>
    <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
      <div class="left-side-entries">
        <div class="entry foxy-navbar-logo"><img src="../assets/images/Foxy.png" style="    font-size: 0px;
                line-height: 0px;
                width: 40px;
                height: 40px;

                position: absolute;
                top: 3px;
                border-radius: 100%;"></div>
        <div class="entry"><a href="/support" class="menu" data-preload-link="true" data-preload-link-activated="true">
            Suporte
          </a></div>
        <div class="entry"><a href="/privacy" class="commands" data-preload-link="true"
            data-preload-link-activated="true">
            Termos
          </a></div>
        <div class="entry"><a href="/donate" class="menu">
            Doar
          </a></div>
        <div class="entry"><a href="https://github.com/FoxyTheBot" class="extras" data-preload-link="true"
            data-preload-link-activated="true">
            GitHub
          </a></div>
        <div class="entry"><a href="/team" class="blog" data-preload-link="true" data-preload-link-activated="true">
            Equipe
          </a></div>
        <div class="entry"><a href="/team" class="blog" data-preload-link="true" data-preload-link-activated="true">
            Sugerir
          </a></div>
        <div class="entry"><a href="/radio" class="fan-arts">
            Rádio
          </a></div>
      </div>
      <div class="right-side-entries">
        <div class="entry"><a class="theme-changer" id="theme-changer-button"><span>
            </span><span style="display: none;">
            </span></a></div>
        <div class="entry" id="locale-changer-button" style="cursor: default;">
          </span>
        </div>
        <div class="entry"><a href="/dashboard" id="login-button">
            Login
          </a></div>
        <div class="entry" id="hamburger-menu-button" style="display: block;">
        </div>
      </div>
    </nav>
    <button id="menu" class="mobile">Menu</button>
  </header>
  <div id="mobile__menu" class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
      <a href="/team">Equipe</a>
      <a href="/github">GitHub</a>
      <a href="/discord">Suporte</a>
      <a href="/privacy">Termos de uso</a>
      <a href="/radio">Rádio</a>
      <a href="/login">Entrar</a>
    </div>
  </div> <br>

  <h1 class="title-staffs">Desenvolvedores</h1>
  <div class="developers">
    <div class="cards-equipe">
      <img class="avatar" src="/assets/profiles/win.png">
      <div class="content">
        <h3 class="avatar-name">WinG4merBR</h3>
        <br>
      </div>
    </div>
  </div>

  <h1 class="title-staffs">Equipe</h1>
  <div class="developers">

    <div class="cards-equipe">
      <img class="avatar" src="/assets/profiles/arthur.png">
      <div class="content">
        <h3 class="avatar-name">Arthur</h3>
        <p class="description">Administrador</p>
      </div>
    </div>
    <div class="cards-equipe">
      <img class="avatar" src="/assets/profiles/bis.png">
      <div class="content">
        <h3 class="avatar-name">Bis</h3>
        <p class="description">Designer</p>
      </div>
    </div>

    <div class="cards-equipe">
      <img class="avatar" src="/assets/profiles/milk.png">
      <div class="content">
        <h3 class="avatar-name">Milk</h3>
        <p class="description">Administrador</p>
      </div>
    </div>
  </div>
  <br><br><br>
  <script src="../js/HeaderMobile.js"></script>
</body>

</html>