---
import Layout from "../../../layouts/Layout.astro";
import SuccessRiotConnection from "../../../components/SuccessRiotConnection.jsx";
import ErrorRiotConnection from "../../../components/ErrorRiotConnection.jsx";
import '../../styles/readonly.css';

export const getStaticPaths = (() => {
    const codes = ["200"];

    return codes.map((code) => {
        return {
            params: {
                code,
            },
        };
    });
})();

const { code } = Astro.params;
export const prerender = false;
console.log(code);
---

<Layout title="Foxy | Vincular conta">
    <main>    {code === "200" ? <SuccessRiotConnection client:load /> : <ErrorRiotConnection client:load />}
    </main>
</Layout>
