<head>
  <link rel="stylesheet" href="/styles/sidebar.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
</head>

<!-- Sidebar -->
<div class="left-sidebar" id="sidebar">
  <div class="entries">
    <a href="/"> <img src="/assets/images/logo.png" alt="Foxy" class="logo"> </a>
    <hr class="separator">
    <h2 class="section-title">Opções do usuário</h2>

    <a href="/br/daily">
      <div class="entry">Daily</div>
    </a>

    <!-- <a href="/br/dashboard/roulette"> 
            <div class="entry">Roleta</div>
        </a> -->

    <a href="/br/dashboard">
      <div class="entry">Seus backgrounds</div>
    </a>

    <a href="/br/user/decorations">
      <div class="entry">Suas decorações de avatar</div>
    </a>

    <hr class="separator">
    <h2 class="section-title">Lojinha da Foxy</h2>
    <a href="/br/store">
      <div class="entry">Loja de Itens</div>
    </a>

    <!-- <a href="/br/store/layouts"> 
            <div class="entry">Layouts de perfil</div>
        </a> -->

    <a href="/br/store/decorations">
      <div class="entry">Decorações de avatar</div>
    </a>

    <a href="/br/premium">
      <div class="entry">Premium e Cakes</div>
    </a>

    <hr class="separator">
    <h2 class="section-title">Configurações</h2>
    <a href="/br/confirm">
      <div class="entry">Deletar conta</div>
    </a>
    <a href="/br/terms">
      <div class="entry">Termos de uso</div>
    </a>
    <a href="/logout">
      <div class="entry">Sair</div>
    </a>
  </div>
</div>

<button class="sidebar-toggle" id="sidebar-toggle">&#9776;</button>

<script>
  const sidebarToggle = document.getElementById('sidebar-toggle');
  const sidebar = document.getElementById('sidebar');

  sidebarToggle.addEventListener('click', () => {
    const isOpen = sidebar.classList.toggle('open');
    sidebarToggle.setAttribute('aria-expanded', isOpen);
  });
</script>