<head>
  <link rel="stylesheet" href="/styles/sidebar.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>

<!-- Sidebar -->
<div class="left-sidebar" id="sidebar">
  <div class="entries">
    <a href="/"> <img src="/assets/images/logo.png" alt="Foxy" class="logo"> </a>
    <hr class="separator">
    <h2 class="section-title">Seu Perfil</h2>

    <a href="/br/daily">
      <div class="entry">Prêmio Diário</div>
    </a>
    
    <!-- <a href="/br/dashboard/roulette">
      <div class="entry">Roleta</div>
    </a> -->

    <a href="/br/dashboard">
      <div class="entry">Backgrounds</div>
    </a>

    <!-- <a href="/br/store/layouts">
      <div class="entry">Layouts de perfil</div>
    </a> -->

    <a href="/br/user/decorations">
      <div class="entry">Decorações de avatar</div>
    </a>
    
    <a href="/br/dashboard/subscriptions">
      <div class="entry">Gerenciar assinaturas</div>
    </a>

    <hr class="separator">
    <h2 class="section-title">Lojinha da Foxy</h2>
    <a href="/br/store">
      <div class="entry">Loja Diária</div>
    </a>

    <a href="/br/premium">
      <div class="entry">Loja de Cakes</div>
    </a>

    <hr class="separator">
    <h2 class="section-title">Configurações</h2>

    <a href="/br/support/terms">
      <div class="entry">Termos de uso</div>
    </a>

    <a href="/br/support/guidelines">
      <div class="entry">Diretrizes da comunidade</div>
    </a>

    <a href="/br/confirm">
      <div class="entry">Deletar conta</div>
    </a>

    <a href="/logout">
      <div class="entry">Sair</div>
    </a>
  </div>
</div>

<button class="sidebar-toggle" id="sidebar-toggle">
  <i class="fas fa-bars"></i>
</button>


<script>
  const sidebarToggle = document.getElementById('sidebar-toggle');
  const sidebar = document.getElementById('sidebar');

  sidebarToggle.addEventListener('click', () => {
    const isOpen = sidebar.classList.toggle('open');
    sidebarToggle.setAttribute('aria-expanded', isOpen);
  });
</script>