<!DOCTYPE html>
<html>

<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <link rel="icon" href="/assets/images/foxycake.png">
  <title>Foxy | Loja</title>
  <link rel="stylesheet" href="/styles/dashboard.css" type="text/css">
  <link rel="stylesheet" href="/styles/loading.css" type="text/css">
</head>

<body>
  <div id="loadingOverlay" class="loading-overlay">
    <%- include('../../global/loading') %>
  </div>
  
  <%- include('../sidebar') %>
  
  <ins id="adBanner" class="adsbygoogle" style="display:inline-block;width:160px;height:600px"
    data-ad-client="ca-pub-7726590371480649" data-ad-slot="4619028248"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <main id="content" class="hidden">
    <!-- Content will be injected here by JavaScript -->
  </main>

  <div id="popup" class="popup hidden">
    <div class="popup-content">
      <span class="close" onclick="hidePopup()">&times;</span>
      <h2 id="bg-title"></h2>
      <img id="popup-img" src="" alt="Background Image">
      <h3 id="bg-description"></h3>
      <h3>Você possui <strong style="color: #e7385d;" id="user-cakes"></strong> Cakes</h3>
      <form id="purchaseForm" method="POST">
        <input type="hidden" name="backgroundId" id="backgroundId">
        <button class="server__button" id="save" type="submit">Comprar</button>
      </form>
    </div>
  </div>

  <script>
    window.addEventListener('load', function () {
      fetch('/br/store/data')
        .then(response => response.json())
        .then(data => {
          document.getElementById('loadingOverlay').classList.add('hidden');
          document.getElementById('content').classList.remove('hidden');

          const contentDiv = document.getElementById('content');
          contentDiv.innerHTML = `
            <div class="itens">
              ${data.storeContent.backgrounds.reverse().map(background => {
                if (background.cakes === 0 || background.inactive) {
                  return '';
                }

                const backgroundStr = JSON.stringify(background).replace(/"/g, '&quot;');
                const userStr = JSON.stringify(data.user).replace(/"/g, '&quot;');
                const userDataStr = JSON.stringify(data.userData).replace(/"/g, '&quot;');

                return `
                  <div class="item" onclick="showPopup(${backgroundStr}, ${userStr}, ${userDataStr})">
                    <div class="item__icon">
                      <img class="background" 
                        src="https://orchid.cakeyfox.live/assets/backgrounds/${background.filename}" 
                        onerror="this.src='https://cakey.foxybot.win/assets/backgrounds/${background.filename}'" 
                        alt="${background.name}">
                    </div>
                    <div class="item_info">
                      <h1 class="item-name">${background.name}</h1>
                      ${data.userBackgrounds.includes(background.id) ? `
                        <span class="purchased">💖 Comprado</span>
                      ` : `
                        <span class="cakes">${background.cakes.toLocaleString("pt-BR")} Cakes</span>
                      `}
                    </div>
                  </div>
                `;
              }).join('')}
            </div>
          `;

          // Verifique se o elemento existe antes de definir innerText
          const userCakesElement = document.getElementById('user-cakes');
          if (userCakesElement) {
            userCakesElement.innerText = data.userData.userCakes.balance.toLocaleString("pt-BR");
          }
        })
        .catch(error => {
          console.error('Error fetching data:', error);
          document.getElementById('loadingOverlay').innerText = 'Failed to load content. Please try again later.';
        });
    });

    function showPopup(background, user, userData) {
      document.getElementById('backgroundId').value = background.id;
      document.getElementById('popup').classList.add('visible');
      document.getElementById('popup').classList.remove('hidden');
      document.getElementById('bg-title').innerText = background.name;
      document.getElementById('bg-description').innerText = background.description;
      document.getElementById('popup-img').src = "https://orchid.cakeyfox.live/assets/backgrounds/" + background.filename;

      document.getElementById('popup-img').onerror = function () {
        this.src = "https://cakey.foxybot.win/assets/backgrounds/" + background.filename;
      };

      const userCakes = parseInt(document.getElementById('user-cakes').innerText.replace(/\D/g, ''));
      const saveButton = document.getElementById('save');
      if (userData.userProfile.backgroundList.includes(background.id)) {
        saveButton.disabled = true;
        saveButton.classList.add('disabled');
        saveButton.innerText = 'Comprado';
      } else {
        saveButton.disabled = userCakes < background.cakes;
        saveButton.classList.toggle('disabled', saveButton.disabled);
        saveButton.innerText = saveButton.disabled ? 'Indisponível' : 'Comprar';
      }
    }

    function hidePopup() {
      const popup = document.getElementById('popup');
      popup.classList.remove('visible');

      setTimeout(() => {
        popup.classList.add('hidden');
      }, 300);
    }

    document.getElementById('purchaseForm').addEventListener('submit', function (event) {
      const backgroundId = document.getElementById('backgroundId').value;
      this.action = "/br/store/confirm/" + backgroundId;
    });
  </script>

</body>

</html>
