@import url(https://fonts.googleapis.com/css?family=Montserrat:500&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px 10%;
  background-color: #2d80f7;
  transition-duration: 0.5s;
}

.logo {
  margin-right: auto;
}

.logo img {
  border-radius: 50%;
  width: 10%;
  min-width: 50px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a, .cta, .overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a .fa {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #34c8ba;
  transition-duration: 0.5s;
}

.nav__links li a:hover {
  color: #292b2f;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #fd4d18;
  background-size: 400% 400%;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: #34c8ba;
  transition-duration: 0.5s;
  color: black;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

#btn-mobile {
  display: none;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
  color: #0088a9;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

#commands-mobile {
  display: none;
}

@media only screen and (max-width: 700px) {
  .nav__links, .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

@-webkit-keyframes gradient-button {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradient-button {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes gradient-button {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}