<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <audio src="assets/audios/Les Premiers Sourires de Vanessa.mp3" autoplay></audio>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/images/foxycake.png">
    <title>Foxy | Comandos</title>

</head>

<body>
    <header>
        <a class="logo" href="/"><img src="/assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Termos</a></li>
                <li><a href="/discord">Suporte</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/commands">Comandos</a></li>
            </ul>
        </nav>
        <a class="cta" href="/dashboard">Dashboard</a>
        <p class="menu cta">Menu</p>
    </header>
    <main>
        <div class="foxy">
            <h1>Soon...</h1>
        </div>
    </main>
</body>

</html>