<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/dailyPage.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="icon" href="../assets/images/foxycake.png">
    <title>Foxy | Dashboard</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img src="../assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Termos</a></li>
                <li><a href="/discord">Suporte</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/commands">Comandos</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
        <a class="cta" href="/">Home</a>
        <p class="menu cta">Menu</p>
    </header>
    <main>
        <img class="main__image" src="../assets/images/foxyoculos.png" alt="dashboard">
        <h1>Você coletou seu daily e ganhou:</h1>
        <h2>
            <%= coins %> FoxCoins
        </h2>
        <br>
        <h3>Agora você possui <%= dbCoins %>
        </h3>
        <br>
        <div class="action__buttons">
            <a href="/dashboard" id="default"><button class="default-button">Voltar</button></a>
        </div>
    </main>

</body>

</html>