<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/autoPlay.js"></script>
    <link rel="icon" href="/assets/images/foxycake.png">
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <title>Foxy | Home</title>

    <meta property="og:type" content="website">
    <meta content="Foxy" property="og:title" />
    <meta property="og:site_name" content="Foxy Website">
    <meta content="Oiii!! Meu nome é Foxy, eu sou um bot de economia para o Discord mas também tenho outras funções :D"
        property="og:description" />
    <meta content="https://foxywebsite.ml" property="og:url" />
    <meta content="#5865F2" data-react-helmet="true" name="theme-color" />
    <meta content="/assets/images/Foxy.png" property="og:image" />

</head>

<body>
    <header>
        <a class="logo" href="/"><img src="/assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Termos</a></li>
                <li><a href="/discord">Suporte</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/commands">Comandos</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
        <a class="cta" href="/dashboard">Dashboard</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/team">Equipe</a>
            <a href="/privacy">Termos de uso</a>
        </div>
        </header>
    </div>
    <main>
        <img class="main__image" src="../assets/images/foxyoculos.png">
        <h1 class="title">Foxy</h1>
        <h3>Oii, eu sou a Foxy! Um bot de economia e entretenimento 100% brasileiro para seu servidor do Discord!</h3>
        <a href="/add"><button><img class="button__image" src="../assets/buttons/AddMember.png">Adicionar</button></a>
        <a href="/discord"><button class="discord__button"><img class="button__image"
                    src="../assets/buttons/WhiteLogo.svg">Suporte</button></a>
        <a id="commands-mobile" href="/commands"><button>Comandos</button></a>
        <a id="commands-mobile" href="https://discord.gg/PuvK9wD6TM"><button>Equipe</button></a>


    </main>
    <div class="features">
        <h1 class="title">Funcionalidades</h1>
        <p class="description">Algumas funcionalidades e recursos que a Foxy possuí!</p>
        <div class="card-row">

            <div class="card">
                <h3 class="feature__title">Perfil Customizável</h3>
                <br>
                <p>A Foxy possui um sistema de personalização de perfil onde você pode comprar backgrounds, os
                    backgrounds são salvos e você pode alterar quando quiser!</p>
            </div>

            <div class="card">
                <h3 class="feature__title">Casamento</h3>
                <br>
                <p>Foxy possui um sistema de casamento para você casar com o amor da sua vida, sem custo algum!</p>
            </div>

            <div class="card">
                <h3 class="feature__title">Reputações</h3>
                <br>
                <p>Com o sistema de reputações da Foxy você pode dar reputações para alguem, trocar com seu amigo ou
                    vender reps</p>
            </div>

            <div class="card">
                <h3 class="feature__title">Premium</h3>
                <br>
                <p>Agora você pode comprar premium na Foxy, ganhar + FoxCoins e outros benefícios</p>
            </div>

            <div class="card">
                <h3 class="feature__title">Modificação de Imagem</h3>
                <br>
                <p>Eu posso entreter seu servidor com meus comandos de modificação de imagem</p>
            </div>
        </div>
    </div>

</body>

</html>