<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/header.css" type="text/css">
    <link rel="stylesheet" href="styles/footer.css" type="text/css">
    <link rel="stylesheet" href="styles/tos.css" type="text/css">
    <link rel="icon" href="/assets/images/foxycake.png">
    <title>Foxy | Termos</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img src="/assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Termos</a></li>
                <li><a href="/discord">Suporte</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/commands">Comandos</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
        <style>
            .sla {
                margin-left: 20px;
                padding: 9px 25px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                color: #fff;
                font-family: "Montserrat", sans-serif;
            }
        </style>
        <a class="cta" href="/">Dashboard</a>
        <p class="menu cta">Menu</p>
    </header>

    <main>
        <h1>Termos de uso</h1>
        <h3>
            <br>
            De forma resumida você é responsável pelo o que você faz na Foxy com os comandos, manchar imagem da Foxy
            usando o say para falar coisas que ela nunca falaria, por favor respeitar
            as plataformas onde a Foxy está <a href="https://discord.com/terms">Termos do Discord</a> e <a
                href="https://discord.com/guidelines">Diretrizes da Comunidade do Discord</a>, usar o comando
            dm da Foxy para praticar atos de spam, ou evadir bloqueios. você não irá difamar/prejudicar a imagem da
            Foxy ou da equipe da Foxy.
            </br>
            <br>
            Abuso de spam e bot Se você enviar spam para comandos ou abusar de qualquer um dos nossos serviços de
            qualquer forma, você será colocado na lista negra e banido de qualquer um dos nossos serviços. Também o
            adicionaremos às banlists do Discord e avisaremos outros desenvolvedores de bot sobre você e, se for uma
            violação grave (como: invasão, assédio e outras violações), você poderá ser banido de todos os servidores em
            que a Foxy estiver
            </br>
            <br>
            Os desenvolvedores reservam-se o direito de remover Foxy de qualquer servidor a qualquer momento. Podemos
            remover a Foxy de um servidor, por qualquer motivo, como: (a) o grupo está abusando do bot, causando
            problemas com ele. (b) O Servidor está caluniando a reputação de Foxy, Bis, Milk, Arthur, Win e
            ekus4s. ou qualquer
            um dos colaboradores do projeto. (c) Não queremos que nossos serviços sejam associados ao servidor.
            </br>
        </h3>
    </main>

    <main class="main2">
        <h1>Política de Privacidade</h1>
        <h3>
            Para que eu possa funcionar normalmente, eu preciso de algumas informações suas, de outros usuários no
            Discord e do seu servidor também! Veja as informações que eu coleto:

            <br>
            <br>
            <br>
            <h1 style="font-size: 30px; color: rgb(224, 72, 72);">Seu conteúdo</h1>
            <br>
            <p>Comandos que podem ser usados para causar problemas à Foxy como o say, são registrados e enviados para os
                desenvolvedores via Webhook</p>
            <br>
            <p>Registramos sua ID, username e o nome do seu servidor para coisas como Daily, rep, verificar se o
                servidor é FoxyPartner, entre outros, podemos coletar também a região do seu servidor para filtrar quais
                países usam a Foxy assim a Foxy pode ter suporte a mais idiomas no futuro :D</p>
            <br>

            <br>

            <p>Exemplo de uso impróprio dos comandos:</p>
            <br>
            <img class="example" src="assets/images/eg.png">
            <br>
            <br>
            <p>Como é registrado:</p>
            <br>
            <img class="example" src="assets/images/say.png">
        </h3>
    </main>

</body>

</html>