<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <script src="js/autoPlay.js"></script>
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <link rel="stylesheet" href="/styles/profiles.css" type="text/css">
    <link rel="icon" href="./assets/images/foxycake.png">
    <title>Foxy | Equipe</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img src="/assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Termos</a></li>
                <li><a href="/discord">Suporte</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/commands">Comandos</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <a class="cta" href="/">Dashboard</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/discord">Suporte</a>
            <a href="/team">Equipe</a>
            <a href="/privacy">Termos de uso</a>
        </div>
    </div>

    <br>

    <h1 class="title-staffs">Desenvolvedores</h1>
    <div class="developers">
        <div class="cards-equipe">
            <img class="avatar" src="/assets/profiles/win.png" onclick="playAudio('assets/audios/MadobeNanami.wav')">
            <div class="content">
                <h3 class="avatar-name">Win</h3>
                <br>
            </div>
        </div>
    </div>

    <h1 class="title-staffs">Equipe</h1>
    <div class="developers">

        <div class="cards-equipe">
            <img class="avatar" src="/assets/profiles/arthur.jpg">
            <div class="content">
                <h3 class="avatar-name">Arthur</h3>
                <p class="description">Administrador</p>
            </div>
        </div>
        <div class="cards-equipe">
            <img class="avatar" src="/assets/profiles/bis.png">
            <div class="content">
                <h3 class="avatar-name">Bis</h3>
                <p class="description">Designer</p>
            </div>
        </div>

        <div class="cards-equipe">
            <img class="avatar" src="/assets/profiles/milk.png">
            <div class="content">
                <h3 class="avatar-name">Milk</h3>
                <p class="description">Administrador</p>
            </div>
        </div>
    </div>
    <br><br><br>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</body>

</html>