<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/utils.css">
  <link rel="icon" href="../assets/images/foxycake.png">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3J7N4BP8L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-E3J7N4BP8L');
  </script>
  <title>Foxy | Confirmar Exclusão</title>
</head>

<body>
  <%- include('../global/header') %>
    <main>
      <img class="main__image" src="../assets/images/foxymedu.png" alt="dashboard">
      <h1>Você está prestes a deletar sua conta!</h1>
      <br>
      <h3>Ao clicar em 'Deletar Conta' sua conta será deletada instantaneamente</h3>
      <br>
      <h4>Se você fazer isso você perderá TUDO QUE POSSUI na Foxy como:</h4>
      <br>
      <h4>
        <%= db.userCakes.balance %> Cakes <br>
          <%= db.userProfile.repCount %> Reputações <br> Todos os seus backgrounds <br> Entre outros...
      </h4>
      <div class="discord-buttons">
        <a href="/br/confirm/delete"><button class="button danger">Deletar Conta</button></a>
        <a href="/br/dashboard"><button class="button">Voltar</button></a>
      </div>
    </main>

</body>
<script src="../js/HeaderMobile.js"></script>
<script src="/js/theme.js"></script>
</html>