<!DOCTYPE html>
<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
    crossorigin="anonymous"></script>    crossorigin="anonymous"></script>
    <title>Foxy | Sobre Mim</title>
    <link rel="icon" href="../assets/images/foxycake.png">
    <link rel="stylesheet" href="../styles/aboutme.css">
    <link rel="stylesheet" href="../styles/header.css">
</head>

<body>
    <header>
        <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
            <div class="left-side-entries">
                <div class="entry foxy-navbar-logo"><a href="/"><img src="../assets/images/Foxy.png" style="    font-size: 0px;
                    line-height: 0px;
                    width: 40px;
                    height: 40px;

                    position: absolute;
                    top: 3px;
                    border-radius: 100%;"></a></div>
                <div class="entry"><a href="/support" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Suporte
                    </a></div>
                <div class="entry"><a href="/terms" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Termos
                    </a></div>

                <div class="entry"><a href="https://github.com/FoxyTheBot" class="extras" data-preload-link="true"
                        data-preload-link-activated="true">
                        GitHub
                    </a></div>


                <div class="entry"><a href="/about" class="about">
                        Sobre
                    </a></div>
                <div class="entry"><a href="/upvote" class="menu">
                        Votar
                    </a></div>
          <div class="entry"><a href="/premium" class="menu">
            Premium
          </a></div>
            </div>
            <div class="right-side-entries">

                <div class="entry" id="locale-changer-button" style="cursor: default;">
                    </span>
                </div>
                <div class="entry">
                    <a href="/dashboard" id="login-button"><img
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" style="    font-size: 0px;
                        line-height: 0px;
                        height: 40px;
                        width: 40px;
                        position: absolute;
                        top: 3px;
                        border-radius: 100%;">
                        <div style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        visibility: hidden;
                        height: 0px;
                        display: inline-block;"></div><span style="padding-left: 4px;">
                            <%= user.global_name %>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        </nav>
        <button id="menu" class="mobile">Menu</button>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/terms">Termos de uso</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>
    <main class="aboutme-body">
        <h1>Sobre mim</h1>
        <h3>Altere seu sobre mim direto pelo website</h3>
        <form action="/submit" method="post">
            <input type="text" name="aboutme" placeholder="Foxy muito fofa :3" required>
            <button type="submit">Salvar</button>
        </form>
        <h3>Não insira dados pessoais como telefone, cartão de crédito, etc</h3>
        <br>
        <a href="/dashboard"><button class="home_button">Voltar</button></a>
    </main>
</body>

</html>