<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../assets/images/foxycake.png">
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <link rel="stylesheet" href="/styles/footer.css" type="text/css">
  <link rel="stylesheet" href="/styles/main.css" type="text/css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3J7N4BP8L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-E3J7N4BP8L');
  </script>

  <title>Um simples bot multiuso para o Discord</title>
  <meta property="og:type" content="website">
  <meta content="Foxy" property="og:title" />
  <meta property="og:site_name" content="Foxy Website">
  <meta content="Olá, Eu sou a Foxy! Um bot multiuso e o melhor bot de VALORANT para o seu servidor do Discord!"
    property="og:description" />
  <meta content="https://foxybot.win" property="og:url" />
  <meta content="#e7385d" data-react-helmet="true" name="theme-color" />
  <meta content="/assets/images/Foxy.png" property="og:image" />
</head>

<body>
  <%- include('global/header') %>
    <main>
      <h2 class="meeting">Olá eu sou a</h2>
      <img class="logo" src="../assets/images/logo.png">
      <h2 class="meeting-2">Um bot multiuso para o seu servidor do Discord</h2>
      <br>
      <a href="/add"><button class="shadow__btn" id="add">Adicionar</button></a>
      <a href="/br/support"><button class="shadow__btn">Suporte</button></a>
      <br>
      <br>
      <img class="foxy" src="../assets/images/foxy-fullbody.png">
    </main>
    <div class="features">
      <h1 class="title">
        Me deixe ajudar você com o seu servidor</h1>
      <div
        style="text-align: center; margin: 0 auto; max-width: 100%; height: auto; margin-top: 3%; margin-bottom: 1%;">
        <%- include('global/ad') %>
      </div>
      <div class="feature">
        <h2>Eu posso ajudar seu servidor e quebrando um galho para você entretendo os membros do seu servidor,
          protegendo
          seu
          servidor contra convites indesejados e adicionando cargos novos a novos membros do seu servidor!</h2>
        <br>
        <h2>Além disso sou simples e fácil de usar, e caso você precise de ajuda pode contar com o meu suporte</h2>
      </div>
      <div class="feature">
        <h1> <img class="inline-emoji" src="../assets/images/features/valorant.png">
          Recursos para VALORANT</h1>
        <h2>Transforme seu servidor de VALORANT em um paraíso de jogadores com meu sistema exclusivo de cargos por
          ranque!
          Desfrute de comandos personalizados que revelam informações detalhadas sobre partidas e jogadores, elevando a
          experiência de todos para um novo patamar!</h2>
        <br>
        <h1>Alguns servidores que gostam das minhas funcionalidades</h1>
        <br>
        <br>
        <div class="server-container">
          <div class="server-wrapper">
            <div class="server-card">
              <img class="server-avatar" src="../assets/icons/tropadaduda.gif">
              <h2 class="server-name">Cafofo da Duda</h2>
            </div>
            <div class="server-card">
              <img class="server-avatar" src="../assets/icons/fhany.png">
              <h2 class="server-name">Servidor da Fhany</h2>
            </div>
            <div class="server-card">
              <img class="server-avatar" src="../assets/icons/sally.gif">
              <h2 class="server-name">Cafeteria do Sally</h2>
            </div>
            <div class="server-card">
              <img class="server-avatar" src="../assets/icons/stationcoffee.gif">
              <h2 class="server-name">Station Coffee</h2>
            </div>
            <div class="server-card">
              <img class="server-avatar" src="../assets/icons/raposas.png">
              <h2 class="server-name">Red Dead Brasil</h2>
            </div>
          </div>
        </div>
      </div>
      <div
        style="text-align: center; margin: 0 auto; max-width: 100%; height: auto; margin-top: 3%; margin-bottom: 1%;">
        <script async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
          crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:inline-block;width:600px;height:200px"
          data-ad-client="ca-pub-7726590371480649" data-ad-slot="3945709430"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class="feature">
        <h1> <img class="inline-emoji" src="../assets/images/features/entertainment.png">
          Divertindo seu servidor</h1>
        <h2>O meu principal objetivo sempre foi ajudar a engajar seu servidor e entreter os membros dos servidores em
          que
          eu estou <br><br>Por isso possuo vários comandos diferentes com o foco de entreter o seu servidor! Possuo
          alguns
          jogos para seus membros jogarem entre si, comandos de modificação de imagem e muito mais!</h2>
      </div>

      <div class="feature">
        <h1> <img class="inline-emoji" src="../assets/images/features/automod.png">
          Moderação</h1>
        <h2>Seu servidor suas regras, posso auxiliar na proteção do seu servidor bloqueando convites indesejados e
          adicionando cargos para novos usuários do servidor, assim você pode descansar tranquilamente em quanto estou
          cuidando dessa parte no seu servidor!</h2>
      </div>
      <div
        style="text-align: center; margin: 0 auto; max-width: 100%; height: auto; margin-top: 3%; margin-bottom: 1%;">
        <script async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
          crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:inline-block;width:600px;height:200px"
          data-ad-client="ca-pub-7726590371480649" data-ad-slot="4422816610"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class="feature">
        <h1> <img class="inline-emoji" src="../assets/images/features/profile.png">
          Customização</h1>
        <h2>Customize seu perfil de diversas maneiras, trocando layout, chapéus e backgrounds que estão na minha loja, e
          caso você queira sugerir um background ou um chapéu também conhecido como máscara você pode sugerir no meu
          servidor de suporte :3</h2>
      </div>

      <div class="feature">
        <h1> <img class="inline-emoji" src="../assets/images/features/economy.png">
          Reputação e Economia</h1>
        <h2>Você pode utilizar meu sistema de economia para vender coisas em seu servidor (Vendas de Nitro, conteúdo
          NSFW,
          etc são proibidas), você não é taxado em nada ao utilizar a minha moeda, é imposto 0! Você também pode dar
          reputação para outra pessoa para agradecer algum favor que ela te fez ou se ela é uma boa pessoa!</h2>
      </div>
      <div
        style="text-align: center; margin: 0 auto; max-width: 100%; height: auto; margin-top: 3%; margin-bottom: 1%;">
        <script async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
          crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:inline-block;width:600px;height:200px"
          data-ad-client="ca-pub-7726590371480649" data-ad-slot="1511117782"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <div class="feature">
        <h1> <img class="inline-emoji" src="../assets/images/features/your-server.png"> Suporte e Comunidade</h1>
        <h2>Que tal ir na minha cafeteria para tomar um café ou chá com bolo comigo e com os membros do meu servidor de
          suporte? <br><br>Lá você pode publicar fanarts minhas e caso você crie um background você receberá cakes por
          cada venda de background<br>Apenas pessoas incríveis estão na minha cafeteria, eu sei que você é uma pessoa
          incrível o que acha de se juntar com a gente? <br><br>Caso tenha dúvidas a minha equipe está lá para te ajudar
          :3</h2>
      </div>
      <div class="feature">
        <h1>E muito mais!</h1>
      </div>

      <div class="footer-add">
        <h2>Gostou? Me adicione no seu servidor e divirta-se! :3</h2>
        <a href="/add"><button>Adicionar</button></a>
      </div>
    </div>

    <%- include('global/footer') %>
    <script type="text/javascript"  charset="utf-8">
      // LEGAL NOTICE: The content of this website and all associated program code are protected under the Digital Millennium Copyright Act. Intentionally circumventing this code may constitute a violation of the DMCA.
                                  
      eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}(';k N=\'\',2a=\'27\';1N(k i=0;i<12;i++)N+=2a.X(B.L(B.K()*2a.F));k 2B=5,2w=4s,2x=4r,2A=4q,2v=C(t){k o=!1,i=C(){z(q.1i){q.2L(\'34\',e);D.2L(\'1U\',e)}P{q.2R(\'2S\',e);D.2R(\'21\',e)}},e=C(){z(!o&&(q.1i||4p.2H===\'1U\'||q.2O===\'36\')){o=!0;i();t()}};z(q.2O===\'36\'){t()}P z(q.1i){q.1i(\'34\',e);D.1i(\'1U\',e)}P{q.2Q(\'2S\',e);D.2Q(\'21\',e);k n=!1;38{n=D.4n==4m&&q.28}2K(a){};z(n&&n.2N){(C d(){z(o)H;38{n.2N(\'14\')}2K(e){H 4l(d,50)};o=!0;i();t()})()}}};D[\'\'+N+\'\']=(C(){k t={t$:\'27+/=\',4k:C(e){k d=\'\',r,n,o,c,s,l,i,a=0;e=t.e$(e);1c(a<e.F){r=e.17(a++);n=e.17(a++);o=e.17(a++);c=r>>2;s=(r&3)<<4|n>>4;l=(n&15)<<2|o>>6;i=o&63;z(2Z(n)){l=i=64}P z(2Z(o)){i=64};d=d+U.t$.X(c)+U.t$.X(s)+U.t$.X(l)+U.t$.X(i)};H d},11:C(e){k n=\'\',r,l,c,s,a,i,d,o=0;e=e.1x(/[^A-4j-4i-9\\+\\/\\=]/g,\'\');1c(o<e.F){s=U.t$.1F(e.X(o++));a=U.t$.1F(e.X(o++));i=U.t$.1F(e.X(o++));d=U.t$.1F(e.X(o++));r=s<<2|a>>4;l=(a&15)<<4|i>>2;c=(i&3)<<6|d;n=n+O.T(r);z(i!=64){n=n+O.T(l)};z(d!=64){n=n+O.T(c)}};n=t.n$(n);H n},e$:C(t){t=t.1x(/;/g,\';\');k n=\'\';1N(k o=0;o<t.F;o++){k e=t.17(o);z(e<1A){n+=O.T(e)}P z(e>4h&&e<4g){n+=O.T(e>>6|4f);n+=O.T(e&63|1A)}P{n+=O.T(e>>12|2r);n+=O.T(e>>6&63|1A);n+=O.T(e&63|1A)}};H n},n$:C(t){k o=\'\',e=0,n=4d=1B=0;1c(e<t.F){n=t.17(e);z(n<1A){o+=O.T(n);e++}P z(n>3Y&&n<2r){1B=t.17(e+1);o+=O.T((n&31)<<6|1B&63);e+=2}P{1B=t.17(e+1);2o=t.17(e+2);o+=O.T((n&15)<<12|(1B&63)<<6|2o&63);e+=3}};H o}};k r=[\'4c==\',\'4b\',\'4a=\',\'49\',\'48\',\'47=\',\'46=\',\'45=\',\'44\',\'43\',\'42=\',\'41=\',\'40\',\'3Z\',\'4t=\',\'4e\',\'4u=\',\'4M=\',\'4O=\',\'4P=\',\'4Q=\',\'4R=\',\'4S==\',\'4T==\',\'4N==\',\'4U==\',\'4W=\',\'4X\',\'4Y\',\'4Z\',\'51\',\'52\',\'4V\',\'4L==\',\'4w=\',\'3W=\',\'4J=\',\'4I==\',\'4H=\',\'4G\',\'4F=\',\'4E=\',\'4D==\',\'4C=\',\'4B==\',\'4A==\',\'4z=\',\'4y=\',\'4x\',\'4v==\',\'3X==\',\'3v\',\'3V==\',\'3r=\'],p=B.L(B.K()*r.F),w=t.11(r[p]),g=w,E=1,W=\'#3o\',a=\'#3m\',Y=\'#3l\',b=\'#3k\',Z=\'\',v=\'3j 3h, 3g 3d 2z :(\',y=\'3c 3b 39 3a 3s 3i 24 3u 2t.\',f=\'3I 3U&3T;3S 24 3t a 3R 2t, 3Q 3N 3M n&1J;o s&1J;o 3L e n&1J;o 3K&1J;o 3J 3H! :3\',s=\'I 3F, I 3E 3D 3C 3B 3A.  3x 24 3e!\',o=0,u=1,n=\'3w.3y\',l=0,R=e()+\'.2m\';C h(t){z(t)t=t.1M(t.F-15);k o=q.2F(\'3z\');1N(k n=o.F;n--;){k e=O(o[n].1R);z(e)e=e.1M(e.F-15);z(e===t)H!0};H!1};C m(t){z(t)t=t.1M(t.F-15);k e=q.3G;x=0;1c(x<e.F){1l=e[x].1T;z(1l)1l=1l.1M(1l.F-15);z(1l===t)H!0;x++};H!1};C e(t){k n=\'\',o=\'27\';t=t||30;1N(k e=0;e<t;e++)n+=o.X(B.L(B.K()*o.F));H n};C i(o){k i=[\'3P\',\'3f==\',\'3n\',\'3p\',\'2X\',\'3q==\',\'53=\',\'4K==\',\'55=\',\'5n==\',\'6t==\',\'6s==\',\'6r\',\'6q\',\'6p\',\'2X\'],a=[\'2U=\',\'6o==\',\'6n==\',\'6m==\',\'6l=\',\'6k\',\'6v=\',\'6h=\',\'2U=\',\'62\',\'6g==\',\'6f\',\'6e==\',\'6d==\',\'6c==\',\'6b=\'];x=0;1O=[];1c(x<o){c=i[B.L(B.K()*i.F)];d=a[B.L(B.K()*a.F)];c=t.11(c);d=t.11(d);k r=B.L(B.K()*2)+1;z(r==1){n=\'//\'+c+\'/\'+d}P{n=\'//\'+c+\'/\'+e(B.L(B.K()*20)+4)+\'.2m\'};1O[x]=1Z 26();1O[x].23=C(){k t=1;1c(t<7){t++}};1O[x].1R=n;x++}};C Q(t){};H{35:C(t,a){z(6a q.J==\'69\'){H};k o=\'0.1\',a=g,e=q.1a(\'1p\');e.1o=a;e.j.1g=\'1Q\';e.j.14=\'-1k\';e.j.V=\'-1k\';e.j.1r=\'2d\';e.j.13=\'68\';k r=q.J.2g,d=B.L(r.F/2);z(d>15){k n=q.1a(\'2b\');n.j.1g=\'1Q\';n.j.1r=\'1t\';n.j.13=\'1t\';n.j.V=\'-1k\';n.j.14=\'-1k\';q.J.67(n,q.J.2g[d]);n.1f(e);k i=q.1a(\'1p\');i.1o=\'2n\';i.j.1g=\'1Q\';i.j.14=\'-1k\';i.j.V=\'-1k\';q.J.1f(i)}P{e.1o=\'2n\';q.J.1f(e)};l=66(C(){z(e){t((e.1W==0),o);t((e.1V==0),o);t((e.1G==\'2j\'),o);t((e.1L==\'2p\'),o);t((e.1K==0),o)}P{t(!0,o)}},29)},1E:C(e,c){z((e)&&(o==0)){o=1;D[\'\'+N+\'\'].1C();D[\'\'+N+\'\'].1E=C(){H}}P{k f=t.11(\'6u\'),u=q.6i(f);z((u)&&(o==0)){z((2w%3)==0){k l=\'6w=\';l=t.11(l);z(h(l)){z(u.1S.1x(/\\s/g,\'\').F==0){o=1;D[\'\'+N+\'\'].1C()}}}};k p=!1;z(o==0){z((2x%3)==0){z(!D[\'\'+N+\'\'].2f){k r=[\'6A==\',\'6F==\',\'6E=\',\'6G=\',\'6x=\'],m=r.F,a=r[B.L(B.K()*m)],d=a;1c(a==d){d=r[B.L(B.K()*m)]};a=t.11(a);d=t.11(d);i(B.L(B.K()*2)+1);k n=1Z 26(),s=1Z 26();n.23=C(){i(B.L(B.K()*2)+1);s.1R=d;i(B.L(B.K()*2)+1)};s.23=C(){o=1;i(B.L(B.K()*3)+1);D[\'\'+N+\'\'].1C()};n.1R=a;z((2A%3)==0){n.21=C(){z((n.13<8)&&(n.13>0)){D[\'\'+N+\'\'].1C()}}};i(B.L(B.K()*3)+1);D[\'\'+N+\'\'].2f=!0};D[\'\'+N+\'\'].1E=C(){H}}}}},1C:C(){z(u==1){k M=2E.6y(\'2G\');z(M>0){H!0}P{2E.61(\'2G\',(B.K()+1)*29)}};k h=\'5Y==\';h=t.11(h);z(!m(h)){k c=q.1a(\'5u\');c.1X(\'5t\',\'5s\');c.1X(\'2H\',\'1h/5r\');c.1X(\'1T\',h);q.2F(\'5q\')[0].1f(c)};5p(l);q.J.1S=\'\';q.J.j.19+=\'S:1t !16\';q.J.j.19+=\'1z:1t !16\';k R=q.28.1V||D.32||q.J.1V,p=D.5o||q.J.1W||q.28.1W,d=q.1a(\'1p\'),E=e();d.1o=E;d.j.1g=\'2i\';d.j.14=\'0\';d.j.V=\'0\';d.j.13=R+\'1q\';d.j.1r=p+\'1q\';d.j.2k=W;d.j.1Y=\'5Z\';q.J.1f(d);k r=\'<a 1T="5m://5l.5k" j="G-1d:10.5i;G-1j:1n-1m;1e:56;">5h-2z 5g</a>\';r=r.1x(\'5f\',e());r=r.1x(\'5d\',e());k i=q.1a(\'1p\');i.1S=r;i.j.1g=\'1Q\';i.j.1y=\'1H\';i.j.14=\'1H\';i.j.13=\'5c\';i.j.1r=\'5b\';i.j.1Y=\'2l\';i.j.1K=\'.6\';i.j.2J=\'2h\';i.1i(\'59\',C(){n=n.58(\'\').57().5v(\'\');D.2D.1T=\'//\'+n});q.1I(E).1f(i);k o=q.1a(\'1p\'),Q=e();o.1o=Q;o.j.1g=\'2i\';o.j.V=p/7+\'1q\';o.j.5j=R-5w+\'1q\';o.j.5L=p/3.5+\'1q\';o.j.2k=\'#5X\';o.j.1Y=\'2l\';o.j.19+=\'G-1j: "5V 5U", 1w, 1s, 1n-1m !16\';o.j.19+=\'5T-1r: 5S !16\';o.j.19+=\'G-1d: 5R !16\';o.j.19+=\'1h-1v: 1u !16\';o.j.19+=\'1z: 5Q !16\';o.j.1G+=\'33\';o.j.2M=\'1H\';o.j.5P=\'1H\';o.j.5N=\'2y\';q.J.1f(o);o.j.5K=\'1t 5y 5J -5I 5H(0,0,0,0.3)\';o.j.1L=\'2T\';k g=30,w=22,x=18,Z=18;z((D.32<2W)||(5G.13<2W)){o.j.2V=\'50%\';o.j.19+=\'G-1d: 5F !16\';o.j.2M=\'5E;\';i.j.2V=\'65%\';k g=22,w=18,x=12,Z=12};o.1S=\'<2P j="1e:#5C;G-1d:\'+g+\'1D;1e:\'+a+\';G-1j:1w, 1s, 1n-1m;G-1P:5B;S-V:1b;S-1y:1b;1h-1v:1u;">\'+v+\'</2P><2Y j="G-1d:\'+w+\'1D;G-1P:5A;G-1j:1w, 1s, 1n-1m;1e:\'+a+\';S-V:1b;S-1y:1b;1h-1v:1u;">\'+y+\'</2Y><5z j=" 1G: 33;S-V: 0.37;S-1y: 0.37;S-14: 2c;S-2C: 2c; 2u:6j 54 #5D; 13: 25%;1h-1v:1u;"><p j="G-1j:1w, 1s, 1n-1m;G-1P:2s;G-1d:\'+x+\'1D;1e:\'+a+\';1h-1v:1u;">\'+f+\'</p><p j="S-V:5M;"><2b 5O="U.j.1K=.9;" 5W="U.j.1K=1;"  1o="\'+e()+\'" j="2J:2h;G-1d:\'+Z+\'1D;G-1j:1w, 1s, 1n-1m; G-1P:2s;2u-5a:2y;1z:1b;5e-1e:\'+Y+\';1e:\'+b+\';1z-14:2d;1z-2C:2d;13:60%;S:2c;S-V:1b;S-1y:1b;" 5x="D.2D.6z();">\'+s+\'</2b></p>\'}}})();D.2I=C(t,e){k n=6D.6B,o=D.6C,d=n(),i,a=C(){n()-d<e?i||o(a):t()};o(a);H{3O:C(){i=1}}};k 2q;z(q.J){q.J.j.1L=\'2T\'};2v(C(){z(q.1I(\'2e\')){q.1I(\'2e\').j.1L=\'2j\';q.1I(\'2e\').j.1G=\'2p\'};2q=D.2I(C(){D[\'\'+N+\'\'].35(D[\'\'+N+\'\'].1E,D[\'\'+N+\'\'].4o)},2B*29)});',62,415,'|||||||||||||||||||style|var||||||document|||||||||if||Math|function|window||length|font|return||body|random|floor||voRodEqhYEis|String|else|||margin|fromCharCode|this|top||charAt||||decode||width|left||important|charCodeAt||cssText|createElement|10px|while|size|color|appendChild|position|text|addEventListener|family|5000px|thisurl|serif|sans|id|DIV|px|height|geneva|0px|center|align|Helvetica|replace|bottom|padding|128|c2|ahYvciqqoj|pt|oOGpUNwKxP|indexOf|display|30px|getElementById|atilde|opacity|visibility|substr|for|spimg|weight|absolute|src|innerHTML|href|load|clientWidth|clientHeight|setAttribute|zIndex|new||onload||onerror|me||Image|ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789|documentElement|1000|taBDgwkLjU|div|auto|60px|babasbmsgx|ranAlready|childNodes|pointer|fixed|hidden|backgroundColor|10000|jpg|banner_ad|c3|none|QHmeJEEygS|224|300|online|border|lGjkBYeWht|PZILtyfVYD|kugWzdRlFD|15px|adblock|ktPYslalTU|QCMTWPAWkh|right|location|sessionStorage|getElementsByTagName|babn|type|ySEvNcdZMM|cursor|catch|removeEventListener|marginLeft|doScroll|readyState|h3|attachEvent|detachEvent|onreadystatechange|visible|ZmF2aWNvbi5pY28|zoom|640|cGFydG5lcmFkcy55c20ueWFob28uY29t|h1|isNaN|||innerWidth|block|DOMContentLoaded|ifMBNnTkaX|complete|5em|try|da|sua|preciso|Eu|seu|in|YWQubWFpbC5ydQ|desative|favor|para|Por|FFFFFF|00CC00|000000|anVpY3lhZHMuY29t|550000|YWQuZm94bmV0d29ya3MuY29t|YS5saXZlc3BvcnRtZWRpYS5ldQ|c3BvbnNvcmVkX2xpbms|ajuda|ajudam|manter|Z29vZ2xlX2Fk|moc|Let|kcolbdakcolb|script|blocker|ad|my|disabled|have|understand|styleSheets|nada|Os|do|aparecer|invasivos|que|prometo|clear|YWRuLmViYXkuY29t|eu|continuar|ncios|uacute|an|b3V0YnJhaW4tcGFpZA|QWRCb3gxNjA|YWRzZW5zZQ|191|QWQzMDB4MjUw|QWQzMDB4MTQ1|YWQtY29udGFpbmVyLTI|YWQtY29udGFpbmVyLTE|YWQtY29udGFpbmVy|YWQtZm9vdGVy|YWQtbGI|YWQtbGFiZWw|YWQtaW5uZXI|YWQtaW1n|YWQtaGVhZGVy|YWQtZnJhbWU|YWRCYW5uZXJXcmFw|YWQtbGVmdA|c1|QWRBcmVh|192|2048|127|z0|Za|encode|setTimeout|null|frameElement|aDIrnqKyAL|event|121|262|286|QWQ3Mjh4OTA|QWRGcmFtZTE|cG9wdXBhZA|QWREaXY|YWRzbG90|YmFubmVyaWQ|YWRzZXJ2ZXI|YWRfY2hhbm5lbA|IGFkX2JveA|YmFubmVyYWQ|YWRBZA|YWRiYW5uZXI|YWRCYW5uZXI|YmFubmVyX2Fk|YWRUZWFzZXI|Z2xpbmtzd3JhcHBlcg|QWRDb250YWluZXI|YWR2ZXJ0aXNpbmcuYW9sLmNvbQ|QWRJbWFnZQ|QWRGcmFtZTI|QWRzX2dvb2dsZV8wMw|QWRGcmFtZTM|QWRGcmFtZTQ|QWRMYXllcjE|QWRMYXllcjI|QWRzX2dvb2dsZV8wMQ|QWRzX2dvb2dsZV8wMg|QWRzX2dvb2dsZV8wNA|RGl2QWRD|RGl2QWQ|RGl2QWQx|RGl2QWQy|RGl2QWQz||RGl2QWRB|RGl2QWRC|YWdvZGEubmV0L2Jhbm5lcnM|solid|Y2FzLmNsaWNrYWJpbGl0eS5jb20|white|reverse|split|click|radius|40px|160px|FILLVECTID2|background|FILLVECTID1|solutions|Anti|5pt|minWidth|com|blockadblock|http|cHJvbW90ZS5wYWlyLmNvbQ|innerHeight|clearInterval|head|css|stylesheet|rel|link|join|120|onclick|14px|hr|500|200|999|CCC|45px|18pt|screen|rgba|8px|24px|boxShadow|minHeight|35px|borderRadius|onmouseover|marginRight|12px|16pt|normal|line|Black|Arial|onmouseout|fff|Ly95dWkueWFob29hcGlzLmNvbS8zLjE4LjEvYnVpbGQvY3NzcmVzZXQvY3NzcmVzZXQtbWluLmNzcw|9999||setItem|YWQtbGFyZ2UucG5n||||setInterval|insertBefore|468px|undefined|typeof|YWR2ZXJ0aXNlbWVudC0zNDMyMy5qcGc|d2lkZV9za3lzY3JhcGVyLmpwZw|bGFyZ2VfYmFubmVyLmdpZg|YmFubmVyX2FkLmdpZg|ZmF2aWNvbjEuaWNv|c3F1YXJlLWFkLnBuZw|Q0ROLTMzNC0xMDktMTM3eC1hZC1iYW5uZXI|querySelector|1px|MTM2N19hZC1jbGllbnRJRDI0NjQuanBn|c2t5c2NyYXBlci5qcGc|NzIweDkwLmpwZw|NDY4eDYwLmpwZw|YmFubmVyLmpwZw|YXMuaW5ib3guY29t|YWRzYXR0LmVzcG4uc3RhcndhdmUuY29t|YWRzYXR0LmFiY25ld3Muc3RhcndhdmUuY29t|YWRzLnp5bmdhLmNvbQ|YWRzLnlhaG9vLmNvbQ|aW5zLmFkc2J5Z29vZ2xl|YWRjbGllbnQtMDAyMTQ3LWhvc3QxLWJhbm5lci1hZC5qcGc|Ly9wYWdlYWQyLmdvb2dsZXN5bmRpY2F0aW9uLmNvbS9wYWdlYWQvanMvYWRzYnlnb29nbGUuanM|Ly93d3cuZG91YmxlY2xpY2tieWdvb2dsZS5jb20vZmF2aWNvbi5pY28|getItem|reload|Ly93d3cuZ29vZ2xlLmNvbS9hZHNlbnNlL3N0YXJ0L2ltYWdlcy9mYXZpY29uLmljbw|now|requestAnimationFrame|Date|Ly9hZHZlcnRpc2luZy55YWhvby5jb20vZmF2aWNvbi5pY28|Ly93d3cuZ3N0YXRpYy5jb20vYWR4L2RvdWJsZWNsaWNrLmljbw|Ly9hZHMudHdpdHRlci5jb20vZmF2aWNvbi5pY28'.split('|'),0,{}));
      </script>
</body>

<script src="../js/HeaderMobile.js"></script>

</html>