<!DOCTYPE html>
<html>

<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649" crossorigin="anonymous"></script> crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/utils.css">
  <link rel="icon" href="../assets/images/foxycake.png">
  <title>Foxy | Dashboard</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3J7N4BP8L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
  
      gtag('config', 'G-E3J7N4BP8L');
    </script>
</head>

<body>
  <%- include('../global/header') %>
  <main>
    <h1>Você está BANIDO!</h1>
    <br>
    <h4>Você está BANIDO de usar a Foxy em qualquer servidor no Discord!</h4>
    <div class="discord-buttons">
      <a href="/"><button class="button">Voltar para a página inicial</button></a>
    </div>
  </main>
  <%- include('../global/footer') %>
</body>
<script src="../js/HeaderMobile.js"></script>

</html>