<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649" crossorigin="anonymous"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/autoPlay.js"></script>
  <link rel="icon" href="/assets/images/foxycake.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css">
  <title>Foxy | Erro</title>
  <meta content="#e7385d" data-react-helmet="true" name="theme-color" />
  <meta content="/assets/images/Foxy.png" property="og:image" />

</head>

<body>
  <%- include('../global/header') %>
  <main>
    <h1>Ocorreu um erro!</h1>
    <h3>Algo extremamente errado aconteceu, me desculpe pela inconveniência!</h3>


  </main>
  <script src="../js/HeaderMobile.js"></script>
  <%- include('../global/footer') %>
</body>

</html>