@import "https://fonts.googleapis.com/css?family=Roboto:500";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("../assets/images/background.png"), linear-gradient(90deg, #0f1923, #0f1923);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.store-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: -40%;
    margin-bottom: 5%;
}

.item-name {
    color: #fff;
    font-size: 40px;
    font-family: "Poppins";
    margin-left: 50%;
    text-align: center;
    margin-top: -30%;
    margin-right: -1%;
    margin-bottom: -5%;
}

.item-img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-top: -30%;
    margin-left: 10%;
    margin-bottom: 5%;
}

main {
    padding-left: 3%;
    padding-right: 30%;
    margin-top: 20em;
}

main .dashboard_section {
    margin-top: 10%;
}

main .main__image {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-top: -30%;
    margin-left: 10%;
    margin-bottom: 5%;
}

main .user__statistics {
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

main .username {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: "Poppins";

}

.servers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30%;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-right: -40%;
}

main .title {
    color: #fff;
    font-size: 40px;
    font-family: "Poppins";
    margin-left: 50%;
    text-align: center;
    margin-top: -30%;
    margin-right: -1%;
    margin-bottom: -1%;
}

.section-header {
    color: #fff;
    font-size: 30px;
    font-family: "Poppins";
    margin-left: 36%;
    text-align: center;
    margin-top: -28%;
    margin-right: -8%;
    margin-bottom: -6%;
}

.section-header .section-description {
    color: #fff;
    font-size: 15px;
    font-family: "Poppins";
    margin-left: 30%;
    text-align: center;
    margin-top: 6%;
    margin-right: -1%;
    margin-bottom: -3%;
}

.section-header .section-title {
    color: #fff;
    font-size: 30px;
    font-family: "Poppins";
    margin-left: 30%;
    text-align: center;
    margin-top: -30%;
    margin-right: -1%;
    margin-bottom: -6%;
}

main .key-manager__add__input {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

main .current-key__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

main .current-key__content__key,
.current-key__content__expires {
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
}

main .current-key__no-key {
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-left: 50%;
    margin-top: 20%;
}

main .current-key__no-key__image {
    width: 15%;
    height: 15%;
    margin-top: 1%;
    margin-left: 50%;
    margin-bottom: -17%;
    filter: grayscale(100%);
}

main .user-avaliable-keys__no-key__image {
    width: 15%;
    height: 19%;
    margin-top: 1%;
    margin-left: 67%;
    margin-bottom: -17%;
    filter: grayscale(100%);
}

main .user-avaliable-keys__no-key {
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-left: 50%;
    margin-top: 20%;

}

/* Server overview */

.modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 5%;
    margin-right: -40%;
}

.inline-emoji {
    height: 1.5em;
    position: relative;
    top: 0.3em;
}

.modules .module h1 {
    font-size: 20px;
}

.modules .module {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
    background: #36393f;
    color: #fff;
    font-family: "Poppins";
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: default;
}

main .current-key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .key-manager__add__submit {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #7289da;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}

main .description {
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50%;
    text-align: center;
    margin-top: 3.5%;
    margin-bottom: -3%;
}

.server {
    transition: transform 0.5s;
}

.server:not(:hover) {
    transform: scale(1);
}

.server__icon img {
    min-width: 40%;
    max-width: 40%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.itens {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30%;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-right: -25%;
}

.item_info h1 {
    margin: 0;
    margin-top: -25%;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
}

.server__info h1 {
    width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.server,
.item {
    margin: 20px;
    padding: 10px 20px;
    color: #fff;
    font-family: "Poppins";
    font-size: 14px;
    text-decoration: none;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: #4f545c;
    transition: transform 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.05);
}

.item__icon img {
    width: 100%;
    border-radius: 10px;
}

.item_info {
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.item_info h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

.item_info .purchased {
    display: block;
    margin-top: 5px;
    color: rgb(103, 255, 103);
    font-size: 16px;
    font-weight: bold;
}

.item_info .cakes {
    display: block;
    margin-top: 5px;
    color: #5dabff;
    font-size: 16px;
    font-weight: bold;
}

#save:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.server,
.item:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.item {
    transition: transform 0.5s;
}

.item:not(:hover) {
    transform: scale(1);
}

.itens .item-name {
    color: #fff;
    font-size: 16px;
    font-family: "Poppins";
    text-align: center;
}

.item__icon img {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: -10px;
}

.server__info h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
}

.server__buttons {
    margin-top: 10px;
}


.guild-join-section {
    margin-left: 40%;
}

.guild-join-section .feature-title {
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
    margin-left: 0%;
    margin-top: -3%;
    margin-bottom: -3%;
}

.guild-join-section .feature-description {
    color: #fff;
    font-size: 13px;
    font-family: sans-serif;
    margin-left: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.guild-name {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Poppins";

    margin-top: -30%;
    margin-left: 55%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

.server__button {
    display: block;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #e7385d;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.server__button:hover {
    background-color: #ff4655;
    transition: 0.5s;
}

.sidebar-logo {
    width: 150px;
    height: 85px;
    margin-top: 23%;
    margin-left: 18%;
    margin-bottom: -23%;
}

.server__button.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.item.disabled {
    cursor: not-allowed;
}

.left-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20%;
    margin-left: -17%;
    margin-right: -40%;
}

.left-menu .guild_name {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: "Poppins";

    margin-top: 5%;
    margin-left: -16%;
}

.server-features {
    margin-top: 8.5%;
    margin-left: -19%;
}

.server-feature {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
    background: #7289da;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .feature-settings {
    margin-top: 7%;
    margin-left: 40%;
    margin-right: -40%;
    margin-bottom: 5%;
}

main .input-text,
.form-text {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: -0.1%;
}

.input-description {
    color: #fff;
    font-size: 13px;
    font-family: sans-serif;
    margin-top: -0.5%;
    margin-bottom: 1%;
}

.form-text {
    margin-top: 1%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.guild-module-checkbox,
.guild-leave-module-checkbox {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

main .field-title {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 5%;
    margin-right: 9%;
    margin-bottom: 1%;
}

main .page-separator {
    height: 1px;
    width: 100%;
    background-color: #2f3136;
    margin: 10px 0;
    margin-top: 1%;
    margin-left: 25%;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-family: "Poppins";
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    display: none;
    animation: fadeOut 3s ease-in-out;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
}

.notification.show {
    display: block;
}

.selected {
    border: 2px solid #4caf50;
}

.notification.error {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-family: "Poppins";
    padding: 10px 20px;
    background-color: #ed4245;
    color: #fff;
    border-radius: 5px;
    display: none;
    animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #757575;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #7289da;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7289da;
}

.feature-title {
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 45%;
    text-align: center;
    margin-top: -30%;
    margin-bottom: -3%;
}

.feature-description {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 40%;
    margin-top: 3.5%;
    margin-bottom: -3%;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#addChannelButton {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5865F2;
    border: none;
    outline: none;
    font-family: "Poppins";
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}

#addJoinChannel,
addLeaveChannel {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5865F2;
    border: none;
    outline: none;
    font-family: "Poppins";
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}

#addRoleButton {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5865F2;
    border: none;
    outline: none;
    font-family: "Poppins";
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}

#save {
    color: #fff;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #359553;
    border: none;
    outline: none;
    font-family: "Poppins";
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 36%;
}

#cancel {
    color: #fff;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ff5050;
    border: none;
    outline: none;
    font-family: "Poppins";
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 36%;
}

textarea {
    display: block;
    width: 60%;
    height: 170px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#text:focus {
    border: 2px solid #7289da;
}

#text:disabled {
    opacity: .5;
}

#text::placeholder {
    color: #7289da;
}

main form select {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

main form select:disabled {
    opacity: .5;
}

main h3 {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 5px;
}

main a {
    list-style: none;
}

main .user-status {
    margin-left: 35em;
}

main .user-status .rep {
    margin-top: 5%;
}

main .premium {
    margin-top: 5%;
}

main .bal #value {
    color: #486be0;
    margin-right: 100%;
}

main .rep #value {
    color: #486be0;
    margin-right: 100%;
}

main .premium #value {
    color: #486be0;
    margin-right: 5%;
}

main .bal {
    margin-left: 5%;
}

main .user__statistics {
    text-align: center;
    margin-top: -24%;
    margin-left: 35%;
}

main .aboutme-session .aboutme-title {
    font-size: 20px;
    margin-top: 15%;
}

main .premium_session .premium-title {
    margin-left: 70%;
}

main .main__buttons {
    margin-top: -20%;
    margin-left: 39%;
}

main .main__buttons .action__btn .btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-family: Roboto, sans-serif;
    line-height: 20px;
    font-size: 17px;
    color: #fff;
    min-width: 36px;
    margin-left: 1.5%;
    padding: .5rem 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background: #7289da;
    transition: background-color .15s ease, color .15s ease;
}

.popup {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.popup img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    animation: scaleIn 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.popup-content h2 {
    color: #ff4655;
    font-size: 24px;
    margin-left: 5px;
    font-family: "Poppins";
    margin-bottom: 10px;
}

.popup-content h3 {
    color: #000000;
    font-size: 15px;
    font-family: "Poppins";
    margin-bottom: 10px;
}

.popup-content button {
    background-color: #7289da;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 768px) {

    #save {
        color: #fff;
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #359553;
        border: none;
        outline: none;
        font-family: "Poppins";
        font-size: 14px;
        margin-bottom: 10px;
        box-sizing: border-box;
        cursor: pointer;
        margin-left: 10%;
    }

    .popup-content {
        width: 90%;
        padding: 15px;
        margin: 20% auto;
    }

    .popup-content h2 {
        font-size: 20px;
    }

    .popup-content h3 {
        font-size: 14px;
    }

    .popup-content button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

.hidden {
    display: none !important;
}

.popup.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@media (max-width: 480px) {
    .popup-content {
        width: 95%;
        padding: 10px;
        margin: 25% auto;
    }

    .popup-content h2 {
        font-size: 18px;
    }

    .popup-content h3 {
        font-size: 12px;
    }

    .popup-content button {
        padding: 6px 12px;
        font-size: 12px;
    }
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.5);
        opacity: 0;
    }
}


#selected {
    background-color: #2f3136;
}

main .main__buttons .action__btn .btn.danger {
    background: #ed4245;
}

main .main__buttons .action__btn .btn.danger:hover {
    background: #d53b3e;
}

main .main__buttons .action__btn .btn.primary {
    background: #5865f2;
}

main .main__buttons .action__btn .btn.primary:disabled {
    background: #4752c4;
    opacity: .5;
    cursor: not-allowed
}

main .main__buttons .action__btn .btn.primary:hover {
    background: #4752c4;
}

main .main__buttons .action__btn .btn.success {
    background: #3ba55c;
}

main .main__buttons .action__btn .btn.success:hover {
    background: #359553;
}

main .main__buttons .action__btn .btn.success:disabled {
    opacity: .5;
    background-color: #359553;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    html {
        background-size: contain;
    }

    .sidebar-toggle {
        display: block;
    }

    .store-item,
    .servers,
    .itens {
        margin: -90% auto;
        flex-direction: column;
        margin-left: 10%;
        margin-right: -30%;
    }

    .item-name,
    .title,
    .section-header,
    .guild-name {
        font-size: 24px;
        margin-left: 0;
        margin-right: 0;
    }

    .item-img,
    .main__image,
    .current-key__no-key__image,
    .user-avaliable-keys__no-key__image {
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .modules,
    .server-features {
        flex-direction: column;
        margin: 10% auto;
    }

    .module,
    .server-feature,
    .item,
    .server {
        min-width: 100%;
        max-width: 100%;
        margin: 5% auto;
        padding: 10px;
    }

    .guild-join-section,
    .left-menu {
        margin-left: 0;
        text-align: center;
    }

    .sidebar-logo {
        width: 100px;
        height: auto;
        margin: 5% auto;
    }

    .server__button,
    .key-manager__add__submit {
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }

    .item_info h1 {
        font-size: 18px;
    }

    .item_info .purchased,
    .item_info .cakes {
        font-size: 14px;
    }

    .input-description {
        font-size: 12px;
    }

    .server__info h1 {
        font-size: 14px;
    }
}

@media (min-width: 1920px) {
    .itens {
        margin-top: -23%;
    }
}

#adBanner {
  position: fixed;
  right: 0;
  margin-left: 1%;
  top: 100px;
  z-index: 10;
}