@import "https://fonts.googleapis.com/css?family=Roboto:500";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/images/DiscordBackground.png");
    background-color: #36393f;
}

main {
    padding-left: 3%;
    padding-right: 30%;
    margin-top: 20em;
}

main .dashboard_section {
    margin-top: 10%;
}

main .main__image {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-top: -30%;
    margin-left: 10%;
    margin-bottom: 5%;
}

main .user__statistics {
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

main .username {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: Montserrat;
    animation-duration: 4s;
}

.servers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30%;
    margin-left: -3%;
    margin-bottom: 5%;
    margin-right: -40%;
}

.server {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #7289da;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.server__icon img {
    min-width: 40%;
    max-width: 40%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.server__info h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
}

.server__buttons {
    margin-top: 10px;
}

.invite-blocker-section {
    margin-top: -27%;
}

.guild-join-section {
    margin-left: 40%;
}

.guild-join-section .feature-title {
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
    margin-left: 0%;
    margin-top: -3%;
    margin-bottom: -3%;
}

.guild-join-section .feature-description {
    color: #fff;
    font-size: 13px;
    font-family: sans-serif;
    margin-left: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.guild-name {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Montserrat;
    animation-duration: 4s;
    margin-top: -30%;
    margin-left: 55%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

.server__button {
    display: block;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #fff;
    color: #7289da;
    text-align: center;
    text-decoration: none;
}

.left-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20%;
    margin-left: -17%;
    margin-right: -40%;
}

.left-menu .guild_name {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: Montserrat;
    animation-duration: 4s;
    margin-top: 5%;
    margin-left: -16%;
}

.server-features {
    margin-top: 8.5%;
    margin-left: -19%;
}

.server-feature {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
    background: #7289da;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main #inviteBlockerForm {
    margin-top: 5%;
    margin-left: 40%;
    margin-right: -40%;
    margin-bottom: 5%;
}

main .input-text,
.form-text {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: -0.1%;
}

.input-description {
    color: #fff;
    font-size: 13px;
    font-family: sans-serif;
    margin-top: -0.5%;
    margin-bottom: 1%;
}

.form-text {
    margin-top: 1%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.guild-module-checkbox,
.guild-leave-module-checkbox {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-family: Montserrat;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    display: none;
    animation: fadeOut 3s ease-in-out;
}

.notification.error {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-family: Montserrat;
    padding: 10px 20px;
    background-color: #ed4245;
    color: #fff;
    border-radius: 5px;
    display: none;
    animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #757575;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #7289da;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7289da;
}

.feature-title {
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
    margin-left: 40%;
    margin-top: -3%;
    margin-bottom: -3%;
}

.feature-description {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 40%;
    margin-top: 3.5%;
    margin-bottom: -3%;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#addChannelButton {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5865F2;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}

#addJoinChannel,
addLeaveChannel {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5865F2;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}

#addRoleButton {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5865F2;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}

#save {
    color: #fff;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #359553;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

textarea {
    display: block;
    width: 60%;
    height: 80px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#text:focus {
    border: 2px solid #7289da;
}

#text:disabled {
    opacity: .5;
}

#text::placeholder {
    color: #7289da;
}

main form select {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

main form select:disabled {
    opacity: .5;
}

main h3 {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 5px;
}

main a {
    list-style: none;
}

main .user-status {
    margin-left: 35em;
}

main .user-status .rep {
    margin-top: 5%;
}

main .premium {
    margin-top: 5%;
}

main .bal #value {
    color: #486be0;
    margin-right: 100%;
}

main .rep #value {
    color: #486be0;
    margin-right: 100%;
}

main .premium #value {
    color: #486be0;
    margin-right: 5%;
}

main .bal {
    margin-left: 5%;
}

main .user__statistics {
    text-align: center;
    margin-top: -24%;
    margin-left: 35%;
}

main .aboutme-session .aboutme-title {
    font-size: 20px;
    margin-top: 15%;
}

main .premium_session .premium-title {
    margin-left: 70%;
}

main .main__buttons {
    margin-top: -20%;
    margin-left: 39%;
}

main .main__buttons .action__btn .btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-family: Roboto, sans-serif;
    line-height: 20px;
    font-size: 17px;
    color: #fff;
    min-width: 36px;
    margin-left: 1.5%;
    padding: .5rem 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background: #7289da;
    transition: background-color .15s ease, color .15s ease;
}

.left-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #36393f;
    transition: left .3s ease;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #2f3136;
    margin: 10px 0;
}

.entry {
    padding: 10px 20px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color .2s ease;
}

.entries {
    margin-top: 70px;
}

.section-title {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
main .main__buttons .action__btn .btn.danger {
    background: #ed4245;
}

main .main__buttons .action__btn .btn.danger:hover {
    background: #d53b3e;
}

main .main__buttons .action__btn .btn.primary {
    background: #5865f2;
}

main .main__buttons .action__btn .btn.primary:disabled {
    background: #4752c4;
    opacity: .5;
    cursor: not-allowed
}

main .main__buttons .action__btn .btn.primary:hover {
    background: #4752c4;
}

main .main__buttons .action__btn .btn.success {
    background: #3ba55c;
}

main .main__buttons .action__btn .btn.success:hover {
    background: #359553;
}

main .main__buttons .action__btn .btn.success:disabled {
    opacity: .5;
    background-color: #359553;
    cursor: not-allowed;
}

@media only screen and (min-width: 717px) {
    main {
        padding-left: 3%;
        padding-right: 30%;
        margin-top: 25%;
        transition-duration: 0.5s;
    }

    main .dashboard_section {
        margin-top: -10%;
    }

    main .main__image {
        width: 25%;
        height: 25%;
        margin-left: 30%;
    }

    main .username {
        font-size: 35px;
        margin-left: 30%;
    }

    main .main__buttons {
        padding: .45rem 1em;
        margin-top: -20%;
    }

    main .main__buttons .action__btn .btn.danger {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 1714px) {
    main {
        padding-left: 3%;
        padding-right: 30%;
        margin-top: 25%;
        transition-duration: 0.5s;
    }

    main .dashboard_section {
        margin-top: 10%;
    }

    main .main__image {
        width: 25%;
        height: 25%;
    }

    main .username {
        font-size: 66px;
    }

    main h3 {
        color: #fff;
        font-size: 18px;
        font-family: sans-serif;
        margin-left: 5px;
    }

    main a {
        list-style: none;
    }

    main .user-status .bal {
        margin-left: 9em;
        font-size: 45px;
    }

    main .user-status .rep {
        margin-top: 15%;
        margin-left: 9em;
        font-size: 45px;
    }

    main .bal #value {
        color: #486be0;
        margin-right: 35%;
        font-size: 45px;
    }

    main .rep #value {
        color: #486be0;
        margin-right: 35%;
        font-size: 45px;
    }

    main .user__statistics {
        text-align: center;
        margin-top: -24%;
        margin-left: 30%;
    }

    main .aboutme-session .aboutme-title {
        font-size: 35px
    }

    main .main__buttons * {
        margin-top: -35%;
    }
}

@media only screen and (max-width: 985px) {
    main {
        padding-left: 3%;
        padding-right: 30%;
        margin-top: 25%;
        transition-duration: 0.5s;
    }

    main .dashboard_section {
        margin-top: 5%;
    }

    main .dashboard-title {
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-family: Montserrat;
        animation-duration: 4s;
    }

    main .main__image {
        width: 35%;
        height: 35%;
        border-radius: 50%;
        margin-top: -30%;
        margin-left: 50%;
        margin-bottom: 5%;
    }

    main .username {
        color: rgb(255, 255, 255);
        font-size: 36px;
        margin-top: 30%;
        font-family: Montserrat;
        animation-duration: 4s;
    }

    main h3 {
        color: #fff;
        font-size: 18px;
        font-family: sans-serif;
        margin-left: 5px;
    }

    main a {
        list-style: none;
    }

    main .user-status {
        margin-left: 15em;
    }

    main .user-status .rep {
        margin-top: 15%;
    }

    main .bal #value {
        color: #486be0;
        margin-right: 10%;
    }

    main .rep #value {
        color: #486be0;
        margin-right: 15%;
    }

    main .user__statistics {
        text-align: center;
        margin-top: -24%;
        margin-left: 35%;
    }

    main .aboutme-session .aboutme-title {
        display: none;
    }

    main .main__buttons {
        margin-top: -2%;
    }
}