@import url(https://lotus.cakeyfox.live/styles/header.css);

#login-button {
    display: block;
    margin-right: 15%;
}

.navigation-bar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}