@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Muli&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.navigation-bar {
    top: 0;
    width: 100%;
    height: 46px;
    background-color: #ff4655;
    opacity: 0.9;
    text-shadow: 0 1px rgb(0 0 0 / 20%);
    font-family: Impact, Arial, sans-serif !important;
    line-height: 1;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

.navigation-bar .entry a {
    color: #f2f2f2 !important;
    text-decoration: none;
}

.navigation-bar .left-entries {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-flow: wrap;
    overflow: hidden;
}

.navigation-bar .right-entries {
    display: flex;
    justify-content: flex-end;
}

.navigation-bar .entry {
    float: left;
    display: block;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: .5s;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}

.navigation-bar .entry a {
    transition: 0.3s;
    color: white !important;
 }
 
 .navigation-bar .entry a:hover {
    color: rgb(221, 221, 221) !important;
    text-decoration: none;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

nav.navigation-bar .left-entries {
    display: flex;
    flex-grow: 1;
    flex-flow: wrap;
    flex-direction: initial;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    font-size: inherit;
    color: inherit;
    vertical-align: -0.125em;
}

nav#navigation-bar .icon {
    filter: drop-shadow(0 1px rgba(0, 0, 0, 0.2));
}

#login-button {
    display: none;
}

nav.navigation-bar {
    top: 0px;
    width: 100%;
    height: 46px;
    opacity: 100%;
    text-shadow: 0 1px rgb(0 0 0 / 20%);
    font-family: Pacifico, Impact, Arial, sans-serif;
    line-height: 1;
    z-index: 999;
    display: flex;
    flex-direction: row;
    position: relative;
}

/* Mobile Nav */


.mobile {
    display: none;
    color: #fff;
    background-color: #1d9ae4;
    font-family: Montserrat;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 12px 10px 12px;
    border-radius: 5px;
    border: none;
    margin: 20px 5px 10px 5px;
    transition-duration: 0.5s;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}

.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {

    nav.navigation-bar {
        display: none;
    }

    .mobile {
        display: initial;
    }
}