@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Muli&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cookie&display=swap);
@import url(https://lotus.cakeyfox.live/styles/body.css);

/* Main page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("../assets/images/background.png"), linear-gradient(90deg, #0f1923, #0f1923);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.server-card {
    width: 200px;
    height: 170px;
    background-color: #eb5362;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: #fff;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s;
}

.server-card:hover {
    transform: scale(1.1);
}

.server-card:last-child {
    margin-right: 0;
}

.server-card img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: -5px;
}

.server-card .server-name {
    font-size: 20px;
    margin-bottom: -10px;
}

.server-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.server-card p {
    font-size: 16px;
    line-height: 1.5;
}

#login-button {
    display: block;
    margin-right: 15%;
}