* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/images/DiscordBackground.png");
    background-color: #36393f;
}

main {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10%;
    transition-duration: 0.5s;
}

h2 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: rgb(120, 120, 255);
}

.example {
    border-radius: 2%;
    animation: float 6s ease-in-out infinite;
    transition-duration: 0.5s;
}

.features {
    padding: 30px;
    opacity: inherit;
}

.features .title {
    font-family: Montserrat;
    font-size: 150%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.features .feature__title {
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.features .description {
    font-family: Montserrat;
    text-align: center;
    color: #fff;
}

.features .card-row {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.features .card-row .card {
    width: 80%;
    max-width: 250px;
    padding: 35px 20px 35px 20px;
    background-color: #221f1f;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.features .card-row .card p {
    font-family: Montserrat;
    font-size: 15px;
    color: #fff;
    margin-left: auto;
}

main h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 5%;
    font-family: Montserrat;
}

main .tos-title {
    color: #fff;
    font-size: 40px;
    margin-bottom: 5%;
    font-family: "Arial";
}

main .title {
    color: #e7385d;
    font-size: 25px;
    margin-bottom: 1%;
    font-family: "Segoe UI";
}

main li {
    margin-bottom: 0.5%;
}

main .description {
    color: #fff;
    font-size: 17px;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

main .support-server {
    color: #fff;
    font-size: 17px;
    margin-bottom: 20%;
    margin-left: 38%;
}

main .server-title {
    text-align: center;
}

main .rule {
    margin-bottom: 2%;
}

main .appeal-title {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #e7385d;
}

main .server-description {
    text-align: center;
    margin-bottom: 2%;
}

main .support-description {
    color: #fff;
    font-size: 17px;
    margin-bottom: 2%;
    text-align: center;
}

.commands-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: -5%;
}

.command {
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    margin-left: 2%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    font-family: Montserrat;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e7385d;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.command-name {
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.command-description {
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 5%;
}

main .tos {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    transition-duration: 0.5s;
}

main .tos .term h2 {
    color: #fff;
    font-size: 25px;
    font-family: Montserrat;
    margin-bottom: 1%;
}

main .tos .term h3 {
    color: #fff;
    font-size: 18px;
    font-family: Montserrat;
    margin-bottom: 2%;
}

p {
    font-family: Montserrat;
    color: #fff;
}

main h3 {
    color: #fff;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main a {
    list-style: none;
}

.main2 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
    transition-duration: 0.5s;
}

.main2 h1 {
    color: #fff;
    font-size: 40px;
    font-family: Montserrat;
}

.main2 h3 {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
}

.main2 a {
    list-style: none;
}

@media only screen and (max-width: 800px) {
    header {
        padding-left: 5%;
        padding-right: 5%;
        transition-duration: 0.5s;
    }

    main {
        text-align: center;
        margin-top: 40%;
        margin-bottom: 15%;
        margin-right: 5%;
        margin-left: 5%;
        padding-left: 5%;
        padding-right: 5%;
        transition-duration: 0.5;
    }

    main h1 {
        font-size: 10vw;
    }

    main h3 {
        font-size: 4vw;
    }

    main a button {
        font-size: 5vw;
    }
}

@keyframes float {
    0% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(1deg);
    }
}