@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.left-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 330px;
    background-color: #36393f;
    transition: left 0.3s ease;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #4f545c #36393f;
    z-index: 900;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #2f3136;
    margin: 10px 0;
}

.left-sidebar .entry {
    padding: 5px 20px;
    color: #fff;
    font-family: "Poppins";
    font-size: 14px;
    text-decoration: none !important;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s ease;
}

.left-sidebar .entry:hover {
    background-color: #2f3136;
}

.entries {
    margin-top: 70px;
}

.sidebar-server-icon {
    border-radius: 50%;
    margin: 60px auto 0;
    display: block;
    width: 130px;
    height: 130px;
}

.section-title {
    color: #e7385d;
    font-size: 20px;
    text-align: left !important;
    font-family: "Poppins";
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    width: 150px;
    margin: -50px auto 10px;
    display: block;
}

.sidebar-toggle {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2000;
}

.sidebar-toggle:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .sidebar-toggle {
        display: block;
    }
    
    .left-sidebar {
        left: -100%;
        width: 100%;
    }

    .left-sidebar.open {
        left: 0;
    }
}
