html {
    background: url("/assets/images/background.png"), linear-gradient(90deg, #0f1923, #0f1923) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    height: 100%;
    width: 100%;
}

body {
    color: #fff;
    transition: color 0.3s ease-in-out;
}