:root {
    background-image: url("../assets/images/background.png"), var(--background-color);
    background-size: cover;
    width: 100%;
    height: 100%;
    --background-color: linear-gradient(90deg, #0f1923, #0f1923);
}