form {
    select {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        border: none;
        outline: none;
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 0.625rem;
        box-sizing: border-box;

        &:disabled {
            opacity: .5;
        }
    }

    input {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        border: none;
        outline: none;
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 0.625rem;
        box-sizing: border-box;
    }

    textarea {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        border: none;
        outline: none;
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 0.625rem;
        box-sizing: border-box;
    }

    button {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #e7385d;
        border: none;
        outline: none;
        font-family: sans-serif;
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;
        margin-top: 0.525rem;
        cursor: pointer;
        box-sizing: border-box;
        transition: background-color 0.3s;

        &:hover {
            background-color: #e71946;
            transition: background-color 0.3s;
        }
    }

    .save-button {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #2ecc71;
        border: none;
        outline: none;
        font-family: sans-serif;
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;
        margin-top: 3rem;
        cursor: pointer;
        box-sizing: border-box;
        transition: background-color 0.3s;

        &:hover {
            background-color: #27ae60;
            transition: background-color 0.3s;
        }
    }

    #inline-input {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        border: none;
        outline: none;
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 0.625rem;
        box-sizing: border-box;
    }
}

#saveButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5865F2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}