.itens {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -5rem;
    margin-left: 5rem;
    margin-right: 3rem;

    &.decorations {
        margin-top: 5rem;
        margin-bottom: 3rem;

        .item {
            .item__icon {
                img {
                    width: 11rem;
                    border-radius: 0.625rem;
                    height: auto;
                }
            }
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0rem;
        padding-bottom: 0.625rem;
        margin: 0.595rem;
        background-color: #313131;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);

        .purchased {
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            margin-top: 0.3125rem;
        }

        .item__icon {
            img {
                width: 100%;
                height: auto;
            }
        }

        .item_info {
            text-align: center;
            margin-top: -0.125rem;

            h1 {
                margin: 0;
                font-size: 1.25rem;
                font-weight: bold;
            }

            .item-name {
                color: #fff;
                font-size: 1rem;
                font-family: var(--reimu-default-font-family);
                text-align: center;

                &.limited {
                    color: #e7385d;
                }

            }

            h1 {
                font-size: 1.25rem;
                font-weight: bold;
                color: white;
                padding: 0.3125rem 0.625rem;
                border-radius: 0.3125rem;
                display: inline-block;
            }

            .purchased {
                display: block;
                margin-top: 0.3125rem;
                color: rgb(75, 207, 75);
                font-size: 1rem;
                font-weight: bold;
            }

            .cakes {
                display: block;
                margin-top: 0.3125rem;
                color: #5dabff;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
}

.item {
    margin: 1.25rem;
    padding: 0.625rem 1.25rem;
    color: #fff;
    font-family: var(--reimu-default-font-family);
    font-size: 0.875rem;
    text-decoration: none;
    flex: 1 0 calc(25rem - 2rem);
    max-width: calc(25rem - 2rem);
    min-width: 20rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.5s;

    &:not(:hover) {
        transform: scale(1);
    }

    &:hover {
        transform: scale(1.06);
        transition: 0.5s;
    }

    &.disabled {
        cursor: not-allowed;
    }
}

.flag {
    position: absolute;
    top: 4%;
    left: 0;
    padding: 5px 10px;
    background: #e7385d;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0 0 5px 0;
    transform: rotate(-40deg);
    z-index: 1;
    margin-left: -5%;

    &.limited {
        margin-left: -10%;
        background: #e7385d;
    }
}

.selected {
    border: 0.125rem solid #4caf50;
}

#countdown {
    color: #e7385d;
    font-size: 1.5rem;
    font-family: var(--reimu-default-font-family);
    text-align: center;
    margin: 1.3rem 0;
    margin-left: 1rem;
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.5);
        opacity: 0;
    }
}