@import "switch";
@import "forms";

.config-wrapper {
    padding: 1rem;
    margin-left: 22rem;
    margin-right: 8rem;
    border-radius: 1%;
    margin-top: 1rem;
    margin-bottom: 2rem;

    .module-title {
        color: #e7385d;
        font-size: 2rem;
        font-family: var(--font-family);
        margin: 2rem 0 1rem;
        text-align: center;
    }

    .module-description {
        color: #fafafa;
        font-size: 1rem;
        font-family: var(--font-family);
        text-align: center;
        margin-left: 0rem;
        margin-right: 0;
    }

    .config-module-wrapper {
        justify-content: center;

        .config-module-form {
            margin-left: auto;
            margin-right: auto;

            .config-module {
                margin-top: 2rem;
                background-color: #333;
                padding: 1rem;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: -3rem;
                margin-right: -3rem;

                .module-name {
                    color: #fafafa;
                    font-size: 1rem;
                    font-family: var(--font-family);
                    font-weight: 700;
                    margin-right: 1rem;
                }

                .switch {
                    margin-left: auto;
                    margin-top: 0.5rem;
                }

                .toggleable-options {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1rem;

                    .toggleable-option-title {
                        color: #fafafa;
                        font-size: 1rem;
                        font-family: var(--font-family);
                        margin-bottom: 0.5rem;
                    }

                    .toggleable-option {
                        margin-top: 0.5rem;
                        margin-right: 0;
                    }

                    .toggleable-option:not(:last-child) {
                        margin-top: 0.5rem;
                    }
                }
            }

            .selected-channels {
                margin-top: 10px;
            }

            .channel-selector button {
                margin-left: 8px;
            }

            .channel-mention {
                display: inline-flex;
                align-items: center;
                background-color: #2c2f33;
                color: #7289da;
                font-family: sans-serif;
                padding: 4px 8px;
                border-radius: 4px;
                margin: 5px 5px 0 0;
            }

            .channel-mention button {
                background: transparent;
                color: #fff;
                border: none;
                cursor: pointer;
            }
        }
    }
}

form {
    width: 83%;
    padding: 0 1rem;

    select,
    input,
    textarea,
    #inline-input {
        width: calc(100% - 20px);
    }

    select {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        border: 2px solid #ccc;
        outline: none;
        font-family: sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 0.625rem;
        box-sizing: border-box;

        &:disabled {
            opacity: .5;
        }

        &:focus {
            border-color: #5865F2;
            box-shadow: 0 0 5px rgba(88, 101, 242, 0.5);
        }
    }

    input {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        border: 2px solid #ccc;
        outline: none;
        font-family: sans-serif;
        font-size: 19px;
        margin-bottom: 10px;
        margin-top: 0.625rem;
        box-sizing: border-box;

        &:focus {
            border-color: #5865F2;
            box-shadow: 0 0 5px rgba(88, 101, 242, 0.5);
        }
    }

    textarea {
        display: block;
        padding: 12px 20px;
        border-radius: 8px;
        background-color: #f9f9f9;
        border: 2px solid #d1d1d1;
        outline: none;
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        margin-bottom: 12px;
        margin-top: 0.625rem;
        box-sizing: border-box;
        transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
        resize: vertical;
    }

    textarea:hover {
        background-color: #f0f0f0;
    }

    textarea:focus {
        border-color: #5865F2;
        box-shadow: 0 0 8px rgba(88, 101, 242, 0.4);
    }

    .test-btn {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #3372fa;
        border: none;
        outline: none;
        margin-top: 1rem;
        font-family: sans-serif;
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;
        cursor: pointer;
        box-sizing: border-box;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &:hover {
            background-color: #2d68e3;
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    button {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #e7385d;
        border: none;
        outline: none;
        font-family: sans-serif;
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;
        margin-top: 0.525rem;
        cursor: pointer;
        box-sizing: border-box;
        transition: background-color 0.3s;

        &:hover {
            background-color: #e71946;
            transition: background-color 0.3s;
        }
    }

    .save-button {
        display: block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #2ecc71;
        border: none;
        outline: none;
        font-family: sans-serif;
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;
        margin-top: 3rem;
        cursor: pointer;
        box-sizing: border-box;
        transition: background-color 0.3s;

        &:hover {
            background-color: #27ae60;
            transition: background-color 0.3s;
        }
    }

    #inline-input {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        border: 2px solid #ccc;
        outline: none;
        font-family: sans-serif;
        font-size: 19px;
        margin-bottom: 10px;
        margin-top: 0.625rem;
        box-sizing: border-box;

        &:focus {
            border-color: #5865F2;
            box-shadow: 0 0 5px rgba(88, 101, 242, 0.5);
        }
    }
}

#saveButton {
    background-color: #248045;
    z-index: 999;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.actions-wrapper {
    color: white;
    display: flex;
    background-color: #1e1f22;
    position: sticky;
    bottom: 1em;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.01), 0 0px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
    justify-content: center;
    align-items: center;
    transform: scale(1.025);
    z-index: 25;
    bottom: -100px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.actions-wrapper.show {
    bottom: 1em;
    opacity: 1;
    transform: translateY(0);
}

.save-message {
    color: #fff;
    font-size: 0.925rem;
    font-family: var(--font-family);
    text-align: center;
    margin-top: 0rem;
}

.actions {
    margin-left: auto;
    display: flex;
    gap: 0.5em;
}

.embedColor {
    width: 50%;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    margin-bottom: 15px;

    &:focus {
        border-color: #5865F2;
    }

    &:invalid {
        border-color: #dc3545;
    }
}

@media (max-width: 768px) {
    .config-wrapper {
        margin-left: 0rem;
        margin-right: 0rem;

        .module-description {
            display: block;
        }

        .config-module-wrapper {
            justify-content: center;
            margin: 0;

            .config-module-form {
                margin-left: 0;

                .config-module {
                    margin-left: -1rem;
                    margin-right: -5rem;
                    margin-bottom: 3rem;
                }
            }
        }

        .actions-wrapper {
            margin-right: -4rem;
        }

        .module-title {
            margin-left: 1rem;
        }
    }

}