<!DOCTYPE html>
<html>

<head>
  <title>Foxy | Apelo de Ban</title>
  <link rel="icon" href="/assets/images/foxycake.png">
  <link rel="stylesheet" href="/styles/readonly.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3J7N4BP8L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
  
      gtag('config', 'G-E3J7N4BP8L');
    </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('../global/header') %>

  <main>
    <h1 class="commands-title">Apelo de banimento</h1>

    <h2 class="appeal-title">Regras</h2>

    <h3 class="rule">• Você só pode fazer o apelo depois de 3 meses desde a data em que você foi banido, caso
      faça
      antes, o seu
      apelo será rejeitado sem NENHUMA chance de aprovação e você irá perder sua única chance!</h3>

    <h3 class="rule"> • Você apenas possui uma chance para fazer um apelo, caso o seu apelo for rejeitado, você
      não
      terá uma
      outra chance!
    </h3>
    <h3 class="rule"> • Você é obrigado a verificar se já passou tempo suficiente desde o dia que você foi
      banido de
      usar a Foxy
      em nossa lista de motivos de ban abaixo. Caso você crie um apelo antes do tempo suficiente ter passado,
      o
      seu apelo será rejeitado e você não terá outra chance de fazer um novo apelo para ser desbanido!
    </h3>
    <h3 class="rule"> • A equipe reserva o direito de aceitar ou rejeitar da forma que preferir, e também a
      equipe
      não é obrigada
      a justificar o motivo
    </h3>

    <h3 class="rule">
      •Pedir unban fora do formulário, como em canais de suporte ou em outros servidores, é proibido e fará
      seu
      apelo ser rejeitado.

    </h3>
    <h3 class="rule"> • Se "amigos" seus começarem a perturbar a equipe pedindo para que você seja desbanido,
      nós
      iremos entender
      que você mesmo pediu para eles fazerem isso, e isso fará seu apelo ser rejeitado.
    </h3>



    <h3 class="rule"><strong>Dependendo do motivo do banimento, não aceitaremos seu apelo!</strong></h3>


    <h2 class="appeal-title">Aviso</h2>
    <h3 class="rule">Este formulário não é válido para banimentos do servidor de suporte ou de qualquer outro
      dos
      nossos
      serviços.</h3>



    <h2 class="appeal-title">Motivos de banimentos permanentes</h2>
    <h3 class="rule">• Conteúdo NSFW em comandos da Foxy (contra os termos do Discord, será recusado)</h3>
    <h3 class="rule">• Raiding/Spamming em servidores relacionados (contra os termos do Discord, será recusado)
    </h3>
    <h3 class="rule">• Espalhar informações pessoais de uma pessoa (contra os termos do Discord e é crime)</h3>
    <h3 class="rule">• Comércio por cakes de assinaturas pagas conseguidas ilegalmente (Isso é crime e será
      rejeitado)</h3>



    <h2 class="appeal-title">Motivos de banimentos temporários</h2>
    <h3 class="rule">• Abuso de bugs/exploits (Tempo de espera de 5 meses para fazer apelo)</h3>
    <h3 class="rule">• Ofender/Xingar a Foxy (Tempo de espera de 3 meses para fazer apelo)</h3>
    <h3 class="rule">• Pedir para ser banido (Tempo de espera de 1 mês para fazer o apelo e rezar pelo o bom
      humor
      da equipe)</h3>
    <h3 class="rule">• Comércio de cakes por produtos com valor monetário real (Tempo de espera de 6 meses)
    </h3>

    <h2 class="appeal-title">Motivos especiais</h2>
    <h3 class="rule">• Banimento solicitado por dono de outro bot (Tempo de espera de 5 meses ou quando o dono
      avisar que pode remover o banimento)</h3>

    <%- include("InfoSidebar.ejs"); %>
  </main>

  <%- include('../global/footer') %>
</body>
<script src="../js/HeaderMobile.js"></script>
<script src="/js/theme.js"></script>
</html>