<!DOCTYPE html>
<html>

<head>
  <title>Foxy | Regras</title>
  <link rel="icon" href="/assets/images/foxycake.png">
  <link rel="stylesheet" href="/styles/readonly.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3J7N4BP8L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
  
      gtag('config', 'G-E3J7N4BP8L');
    </script>
</head>

<body>
  <%- include('../global/header') %>

  <main>
    <h1 class="commands-title">Diretrizes da Comunidade & Regras de utilização</h1>


    <h3 class="rule">• Comercializar cakes por assinaturas legalmente ou ilegalmente adquiridas</h3>

    <h3 class="rule"> • Raiding/Spamming em servidores relacionados
    </h3>
    <h3 class="rule"> • Espalhar informações pessoais de uma pessoa
    </h3>
    <h3 class="rule"> • Utilizar comandos da Foxy para enviar conteúdo NSFW
    </h3>

    <h3 class="rule">
      • Abuso de bugs/exploits

    </h3>
    <h3 class="rule"> • Ofender/Xingar a Foxy
    </h3>
    <h3 class="rule">• Comércio de cakes por produtos com valor monetário real (Tempo de espera de 6 meses)
    </h3>

    <h2 class="appeal-title">
      Apelo de banimento
    </h2>

    <h3 class="rule">Foi banido? Faça um apelo de banimento para tentar conseguir uma segunda chance! <a href='/br/support/ban-appeal'>Clique aqui para ler as regras de apelo de banimento</a></h3>
    <h3 class="rule">Se você leu as regras e quer preencher o formulário <a href="https://docs.google.com/forms/d/e/1FAIpQLScapnSXafxnSJxTepF_AILwBcvlWld0Y0_4fdFzEu6ypcqW0g/viewform">clique
        aqui</a></h3>
    <%- include("InfoSidebar.ejs"); %>
  </main>

  <%- include('../global/footer') %>
</body>
<script src="../js/HeaderMobile.js"></script>
<script src="/js/theme.js"></script>
</html>