<head>
  <link rel="stylesheet" href="/styles/sidebar.css">
</head>
<div class="left-sidebar">
  <div class="entries">
    <h2 class="section-title">Regras</h2>
    <a href="/br/support/guidelines">
      <div class="entry">
        Diretrizes da Comunidade
      </div>
    </a>

    <a href="/br/support/terms">
      <div class="entry">
        Termos de Uso e Privacidade
      </div>
    </a>
    <hr class="separator">
    <h2 class="section-title">Informações</h2>
    <a href="/br/support">
      <div class="entry">
        Página de Suporte
      </div>
    </a>
    <a href="/br/commands">
      <div class="entry">
        Comandos
      </div>
    </a>
    <a href="/br/support/ban-appeal">
      <div class="entry">
        Apelo de Banimento
      </div>
    </a>
  </div>
</div>