<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
    crossorigin="anonymous"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../assets/images/foxycake.png">
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <link rel="stylesheet" href="/styles/footer.css" type="text/css">
  <link rel="stylesheet" href="/styles/store.css" type="text/css">
  <title>Foxy | Premium</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3J7N4BP8L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-E3J7N4BP8L');
  </script>
  <meta property="og:type" content="website">
  <meta content="Foxy" property="og:title" />
  <meta property="og:site_name" content="Foxy | Premium">
  <meta content="Me ajude a ficar online comprando cakes ou assinando o meu premium!" property="og:description" />
  <meta content="https://foxybot.win" property="og:url" />
  <meta content="#e7385d" data-react-helmet="true" name="theme-color" />
  <meta content="/assets/images/Foxy.png" property="og:image" />
</head>

<body>
  <%- include('../global/header') %>

    <main>
      <div class="store-info">
        <h1 class="title">Lojinha da Foxy</h1>
        <img class="store_image" src="../assets/images/store.png"></img>
        <br>
        <p>Preciso de uma ajudinha para continuar online
          Sabia que manter um bot online não é fácil e ainda é caro?<br><br>
          Sem falar nos investimentos em novidades que você pode usar
          Você pode ajudar no meu desenvolvimento e a investir em novos recursos, assinando Premium, comprando cakes,
          ou
          fazendo uma doação de qualquer valor!<br><br>
          Tudo bem se não puder, meus comandos são gratuitos para qualquer um!</p>
      </div>
      <div class="items">
        <div class="item">
          <div class="item__info">
            <h1 class="plan-title">Plano Essencial</h1>
            <h1 class="price">R$ 15,00/mês</h3>
              <div class="perks">
                <h3>✅ Badge exclusíva no perfil</h3>
                <h3>✅ Multiplicador de daily 1.25x</h3>
                <h3>❌ Todas as decorações desbloqueadas</h3>
                <h3>❌ Não paga taxas de inatividade</h3>
                <h3>❌ Seu próprio background no /perfil</h3>
                <h3>Limite de 15000 Cakes no /daily</h3>
                <h3>Ganhe 100.000 Cakes</h3>
              </div>
          </div>
          <div class="item__buttons">
            <a href="/checkout?itemId=a1b2c3d4-e5f6-7890-abcd-ef1234567890" class="item__button"><b>Quero esse!</b></a>
          </div>
        </div>
        <div class="item rec">
          <div class="recommended-flag">Recomendado</div>
          <div class="item__info">
            <h1 class="plan-title">Plano Recomendado</h1>
            <h1 class="price">R$ 30,00/mês</h3>
              <div class="perks">
                <h3>✅ Badge exclusíva no perfil</h3>
                <h3>✅ Multiplicador de daily 1.5x</h3>
                <h3>✅ Seu próprio background no /perfil</h3>
                <h3>❌ Todas as decorações desbloqueadas</h3>
                <h3>❌ Não paga taxas de inatividade</h3>
                <h3>Limite de 15000 Cakes no /daily</h3>
                <h3>Ganhe 300.000 Cakes</h3>
              </div>
          </div>
          <div class="item__buttons">
            <a href="/checkout?itemId=a2b3c4d5-e6f7-8901-bcde-f23456789012" class="item__button"><b>Quero esse!</b></a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <h1 class="plan-title">Plano Completo</h1>
            <h1 class="price">R$ 50,00/mês</h3>
              <div class="perks">
                <h3>✅ Badge exclusíva no perfil</h3>
                <h3>✅ Multiplicador de daily 2x</h3>
                <h3>✅ Todas as decorações desbloqueadas</h3>
                <h3>✅ Não paga taxas de inatividade</h3>
                <h3>✅ Seu próprio background no /perfil</h3>
                <h3>Limite de 25000 Cakes no /daily</h3>
                <h3>Ganhe 500.000 Cakes</h3>
              </div>
          </div>
          <div class="item__buttons">
            <a href="/checkout?itemId=a3b4c5d6-f7g8-9012-cdef-34567890123" class="item__button"><b>Quero esse!</b></a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <h1 class="plan-title">Plano Gratuito</h1>
            <h1 class="price">Grátis</h3>
              <div class="perks">
                <h3>❌ Badge exclusíva no perfil</h3>
                <h3>❌ Multiplicador de daily 1.25x</h3>
                <h3>❌ Todas as decorações desbloqueadas</h3>
                <h3>❌ Não paga taxas de inatividade</h3>
                <h3>❌ Seu próprio background no /perfil</h3>
                <h3>Limite de 8000 Cakes no /daily</h3>
                <h3>Ganhe 0 Cakes</h3>
              </div>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="item">
          <div class="item__info">
            <h1 class="plan-title">100.000 Cakes</h1>
            <h1 class="price">R$ 9,99</h1>
          </div>
          <div class="item__buttons">
            <a href="https://payments.foxybot.win/b/eVa5nG0QQ7pw8qQ4gk" class="item__button"><b>Quero esse!</b></a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <h1 class="plan-title">300.000 Cakes</h1>
            <h1 class="price">R$ 19,99</h1>
          </div>
          <div class="item__buttons">
            <a href="https://payments.foxybot.win/b/fZe2bu9nm118gXmdQV" class="item__button"><b>Quero esse!</b></a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <h1 class="plan-title">1.000.000 Cakes</h1>
            <h1 class="price">R$ 49,99</h1>
          </div>
          <div class="item__buttons">
            <a href="https://payments.foxybot.win/b/fZe8zS2YY4dkdLa3ci" class="item__button"><b>Quero esse!</b></a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <h1 class="plan-title">2.000.000 Cakes</h1>
            <h1 class="price">R$ 99,99</h1>
          </div>
          <div class="item__buttons">
            <a href="https://payments.foxybot.win/b/bIY7vO8jieRY4aAbIR" class="item__button"><b>Quero esse!</b></a>
          </div>
        </div>
      </div>
      <br>
    </main>
    <%- include('../global/footer') %>
</body>
<script src="../js/HeaderMobile.js"></script>
<style>
  .section-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: -10%;
  }
</style>

</html>