<!DOCTYPE html>
<html>

<head>
  <title>Vinculação de conta</title>
  <link rel="icon" href="/assets/images/foxycake.png">
  <link rel="stylesheet" href="/styles/readonly.css">
  <link rel="stylesheet" href="/styles/header.css">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E3J7N4BP8L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-E3J7N4BP8L');
  </script>
  <link rel="stylesheet" href="/styles/footer.css">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
    crossorigin="anonymous"></script>
</head>

<body>
  <main>
    <div class="connection-successfully">
      <img class="connection-logo" src="/assets/images/foxyriot.png">
      <h2 style="text-align: center; margin-right: 20%; margin-top: -5%;">
        <%= message %>
      </h2>
      <h3 style="text-align: center; margin-right: 20%; margin-top: 1%;">
        <%= description %>
      </h3>
    </div>
  </main>
</body>
<script src="../js/HeaderMobile.js"></script>
<script src="/js/theme.js"></script>
</html>